@media only screen and (min-width: 32.5em) {
    main, nav, header, footer, body {
        max-width: 50rem;
        margin: auto;
    }
    .picture {
        float: right;
        border-radius: 10px;
        box-shadow: 0 0 10px;
      }

}