@media only screen and (min-width: 32.5em) {
    main, nav, header, footer, body {
        max-width: 50rem;
        margin: auto;
    }

    header {
        margin-top: 2%;
    }

    h1 {
        font-size: 2.5rem;
        margin-left: 150px;
    }
    h2
    {
        font-size: 1.5rem;

    }
    .picture {
        float: right;
        border-radius: 10px;
        box-shadow: 0 0 10px;
      }

}