  * { -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; box-sizing:
  border-box;}
  
  main {
    border-radius: 10px;
    background-color: #f7f1f7;
  }
  
  header {
    background-color: #bd6c98;
    color: #f7f1f7;
    padding: 0.7em;
    text-align: center;
    border-radius: 10px;
  }

  footer {
    background-color: #bd6c98;
    color: #f7f1f7;
    padding: 0.7em;
    text-align: center;
    border-radius: 10px;
  }
  
  nav {
    padding: .5em;
  }
  
  .picture {
    height: auto;
    width: 150px; 
  }
  
  li {
    margin: 5px;
    font-size: 1.1em;
    font-family: 'News Cycle', sans-serif;
    list-style: none;
  
  }
  
  h1 {
    font-size: 2.5em;
    font-family: 'Lato', sans-serif;
    margin-left: 150px;
    text-align: left;
    color: #f6faf9;
  }
  
  h2 {
    font-size: 1.5em;
    font-family: 'News Cycle', sans-serif;
    margin-top: 30px;
  }

  p {
    font-family: 'News Cycle', sans-serif;
  }

  a {
    color: #f30e9b;
  }

  #updated {
    color: #460632;
  }
    
  a:hover {
    color: #f42ab1;
  }
  
 
