
  main {
    margin: 5% auto;
    border-radius: 10px;
    overflow: hidden;
    max-width: 800px;
    background-color: #f7f1f7;

  }
  
  header {
    background-color: #bd6c98;
    color: #f7f1f7;
    padding: 0.7em;
    text-align: left;
    border-radius: 10px;
  }


  footer {
    background-color: #bd6c98;
    font-family: 'News Cycle', sans-serif;
    color: #f7f1f7;
    padding: 0.7em;
    text-align: center;
    border-radius: 10px;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 8px;
  }
  
  .picture {
    position: relative;
    top: -30px;
    border-radius: 10px;
    box-shadow: 0 0 10px;

  }
  
  li {
    margin: 5px;
    font-size: 1.1em;
    font-family: 'News Cycle', sans-serif;
    list-style: none;
  
  }
  
  h1 {
    font-size: 2.5em;
    font-family: 'Lato', sans-serif;
    margin-left: 150px;
    text-align: left;
    color: #f6faf9;
  }
  
  h2 {
    font-size: 1.5em;
    font-family: 'News Cycle', sans-serif;
    margin-top: 30px;
  }

  p {
    font-family: 'News Cycle', sans-serif;
  }

  
  hr {
    width: 155%;
  }
  
  a {
    color: #f30e9b;
  }

  #updated {
    color: #460632;
  }
    
  a:hover {
    color: #f42ab1;
  }
  
 
