* {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.whole {
    max-width: 1500px;
    margin: 60px auto;
}

header{
    background-color: #050507;
    color: #66fCF1;
    margin: auto;
    text-align: center;
    padding: 1rem 2%;
    font-size: 1.3rem;
    

}
header h1{
    margin: 10px;
    font-family: 'Fjalla One', sans-serif;

}

header h2{
    margin: 5px;
    font-family: 'Open Sans', sans-serif;

}

main{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 25px;
    color: #C5C6C7;

}

.hierarchy{
    max-width: 420px;
    border-radius: 20px;
    margin: 8px;
    border-top: none;
    background-color: #45A29E;
}

.hierarchy h3{
    color: #66fCF1;
    font-family: 'Fjalla One', sans-serif;
    font-size: 2rem;
    background-color: #050507;
    margin: 20;
    padding: 20px;
    text-align: center;
}

hierarchy h4{
    color: #1F2833;
    font-size: 2.6rem;
    text-align: center;
}

hierarchy a{
    color: #124fd3;
    padding: 20px;
    font-size: 1rem;
}

hierarchy a:hover{
    color: black;
}

hierarchy img{
    border-radius: 40px;
    padding: .7rem;
    width: 100%;
    max-width: 100%;
}

hierarchy p{
    color: black;
    padding: 1rem;
    
}

.whitespace{
    max-width: 420px;
    border-radius: 20px;
    margin: 8px;
    border-top: none;
    background-color: #45A29E;
    
}

.whitespace h3{
    color: #66fCF1;
    font-family: 'Fjalla One', sans-serif;
    font-size: 2rem;
    background-color: #050507;
    margin: 20;
    padding: 20px;
    text-align: center;
}

.vwhitespace h4{
    color: #1F2833;
    font-size: 1.6rem;
    text-align: center;
}

.vwhitespace a{
    color: #124fd3;
    padding: 20px;
    font-size: 1rem;
}

.whitespace a:hover{
    color: black;
}

.whitespace img{
    border-radius: 40px;
    padding: .7rem;
    width: 100%;
    max-width: 100%;

}

.visual_hierarchy p{
    color: black;
    padding: 1rem;
    
}

.alignment{
    max-width: 420px;
    border-radius: 20px;
    margin: 8px;
    border-top: none;
    background-color: #45A29E;
}

.alignment h3{
    color: #66fCF1;
    font-family: 'Fjalla One', sans-serif;
    font-size: 2rem;
    background-color: #050507;
    margin: 20p;
    padding: 20px;
    text-align: center;
}

.alignment h4{
    color: #1F2833;
    font-size: 1.6rem;
    text-align: center;
}

.alignment a{
    color: #124fd3;
    padding: 20px;
    font-size: 1rem;
}

.alignment a:hover{
    color: black;
}

.alignment img{
    border-radius: 40px;
    padding: .7rem;
    width: 100%;
    max-width: 100%;

}

.alignment p{
    color: black;
    padding: 1rem;
    
}


footer{
    background-color: #050507;
    color: #66fCF1;
    margin: auto;
    text-align: center;
    padding: 1rem 2%;
    font-size: 1.3rem;
    
}

footer a{
    color: white;
    font-family: 'Open Sans', sans-serif;
}


.clearfix:after{
    content: "";
    display: table;
    clear: both;
}