table {
    background-color:#AFA783;
    padding: .5rem;
    margin-bottom: 40px;
    border-style: solid;
    border-color: gray;
    border-width: .1rem;
    font-family: 'Merriweather', sans-serif;
}

table.margin {
    padding: .1rem;
}

td {
    font-family: 'Merriweather Sans', sans-serif;
    padding: 0.5rem;
    font-size: .75rem; 
}

th {
    font-family: 'Merriweather', sans-serif;
    font-size: 1rem;
    padding-right: 1rem;
}

th.ele {text-align: left;}

th.exa {text-align: left;}

tr td:nth-child(1) {
    margin-left: .5rem;
    padding-right: .5rem;
}

td.bold {
    font-weight: 700;
}

td.head-color {background-color:#899B64;}
td.nav-color {background-color:#6E9B64;}
td.hover-color {background-color:#AFA783;}
td.active-color {background-color: #9B9164;}
td.back-color {background-color: #FFFFFF;}
td.footer-color {background-color: #899B64;}

td.size {
    font-size: .75rem; 
}

td.size1 {
  background-color: #899B64;
  font-size: 2.3rem;
}

td.size2 {
    background-color: #6E9B64;
    font-size: .9rem;
  }

td.size3 {
    background-color:#899B64;
    font-size: 1.8rem;
  }

td.size4 {
    background-color:#899B64;
    font-size: 1rem;
  }

td.sized {
    font-size: .6rem;
}
