/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    nav, main, footer {
        max-width: 64rem;
        margin:auto;
    }

/*----------- BODY --------------*/



/*----------- HEADER --------------*/
header img {
    float: left;  
    width: 175px;
    margin-left: 50px;
}

header h1 {
    margin-top: 133px;
    font-weight: 700; 
    font-size: 2rem;

}
header h2 {

    font-weight: normal; 
    font-size: 1.4rem;

}

/*----------- NAVIGATION --------------*/
nav button {display: none !important;}

nav ul {margin-left: 4.8%}

nav ul li a {
    padding: .5rem 2.5rem;
}

/*----------- MAIN --------------*/
.contentbox {
    width: 860px;
}

main h2 {margin-left: 5%;}

/*----------- COLOR-SCHEME --------------*/





/*----------- FOOTER --------------*/
footer {
  
    font-size: 1rem;
 
} 
} /* end of media query */