/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- HEADER --------------*/
header {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #899B64;
    padding: .5rem 2%;
}
header img {
    margin-left: 20px;
    margin-top: 10px;
    width: 25%;
}

div {
    display: block;
}

.headertext {
    margin-left: 0.5rem;
    text-align: left;
    margin-top: 20px;
}

header h1 {
    font-family: 'Merriweather', sans-serif;
    font-weight: 700; 
    font-size: 1.6rem;
    margin-left: 140px;

}
header h2 {
    font-family: 'Merriweather', sans-serif;
    font-weight: normal; font-size: 1.1rem;
    margin-top: 1px;
    margin-left: 140px;

}


/*----------- NAVIGATION --------------*/

nav {
    background-color: #64899B;
    font-family: 'Merriweather Sans', sans-serif;
}

    button {
    margin: .5rem 44%;
    background-color: transparent;
    background-color: #64899B;
    border: none;
    font-size: 1.6rem;
    color: black;
    float: left;
   
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
  nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    background-color: #64899B;
    color: black;
    border-top:1px solid rgba(0,0,0,0.3);
    }

    nav ul li a:hover {
        background-color: #899B64;
        color: #010706;
    }
    nav ul li.active a {
        background-color:#9B9164;
        color: #010706;
        font-weight: 700;
    }

    nav ul.hide {display: none;}
    




/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 20rem;
}

main h2 {
    font-family: 'Merriweather', sans-serif;
    font-size: 1.8rem;
}

main h2 {margin-left: 1%;}

.contentbox {
    display: block;
    margin: 10px auto;
    border: 1px dashed #000;
    padding: 15px;
    background-color: #eee;
    color: #444;
    font-family: 'Merriweather', sans-serif;
}

/*----------- COLOR-SCHEME --------------*/



/*----------- FOOTER --------------*/
footer {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: .75rem;
    background-color: #899B64;
    padding: .5rem 2%;
    text-align: center;
    color: #010706;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}