/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, nav, footer {
        margin: auto;
    }

/*----------- HEADER --------------*/

    img.logo {
        width: 170px;
        height: auto;
        top: 12px;
        left: 10px;
        
    } 
    
    div.cbox {
        width: 470px;
        height: 170px;
        margin-top: -190px;
        margin-left: 135px;
     
    }

    h1.title {
        font-size: 20px;
        top: 100px;
        left: 165px;
    }
    
    h2.motto {
        font-size: 20px;
        color: black;
        top: 118px;
        left: 165px
    }

/*----------- WEATHER SUMMARY --------------*/

section.stats {
    width: 20rem;
    top: 610px;
    left: 160px;
    margin-left: 135px;
    margin-top: 30px;
}


.stats h3 {
    margin: 5px auto;
    text-align: left;
}

/*----------- GALLERY --------------*/

.slideshow-container {
    max-width: 350px;
    margin-right: 530px;
    top: -994px;
  }

/*----------- MISSION --------------*/

.mission {
    width: 320px;
    height: auto;
    margin-left: 135px;
    top: 15px;
    padding: .5px 20px;
}

section.mission h3 {
    font-size: 24px;
    margin-bottom: 0;

}

/*----------- THREE DAY FORECAST --------------*/

.forecast h2 {
    margin-top: -50px;
}

.forecast {
    margin-top: -780px;
    margin-left: -35px;
}

/*----------- EVENTS --------------*/

main section.event {
    width: 350px;
    height: auto;
    right: -840px;
    top: -508px;
    padding: .2rem 20px;
  

}

/*----------- DEMOGRAPHICS --------------*/

.demotitle {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    margin-top: 30px;

}

.demotitle0 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;

}

section.demoinfo0 {
    width: 1200px;
    margin-left: 40px;
}

.info0 {
    margin: 0;
    padding-top: 10px;
    padding-left: 5px;
    width: 500px;
    font-size: 20px;
}


img.demoimage0 {
    width: 75%;
    margin-left: 100px;
}

section.demoinfo {
    width: 1200px;
    margin-left: 120px;
 
}

.info {
    font-size: 20px;
    text-align: left;
    padding-left: 5px;
    width: 500px;
}

p.info {
    padding-top: 15px;
}


img.demoimage {
    width: 45%;
    margin-left: 600px;
    margin-top: -400px;
}

section.demoinfo4 {
    width: 1200px;
    margin-left: 50px;
    padding-top: 30px;

}

img.demoimage4 {
    width: 95%;
    margin-left: 50px;
}

.info4 {
    font-size: 20px;
    text-align: left;
    padding-left: 35px;
    width: 500px;
    margin-right: 50px;

}

p.info4 {
    padding-top: 15px;
}


section.demoinfo2 {
    width: 1200px;
    margin-left: 120px;
    margin-top: 50px;
}

p.info2 {
    grid-column: 1/2;
    margin: 0;
    font-size: 20px;
    text-align: left;
    padding-left: 5px;
    width: 500px;
}

p.info22 {
    grid-column: 2/3;
    margin: 0;
    font-size: 20px;
    text-align: left;
    padding-left: 5px;
    width: 500px;
}


section.demoinfo3 {
    display: grid;
    align-content: center;
    width: 1200px;
    margin-left: 120px;
    margin-top: 60px;
    padding-left: -10px;
}

img.demoimage3 {
    grid-column: 1/2;
    margin: 0;
    text-align: left;
    padding-left: 5px;
    width: 600px;
}

h3.info33 {
    font-size: 20px;
    max-width: 500px;
    margin-left: -20px;
}

.info33 {
    grid-column: 2/3;
    margin: 0;
    font-size: 20px;
    text-align: left;
    width: 500px;
    margin-left: -20px;
    padding-top: 5px;
}

section.demoinfo5 {
    display: grid;
    align-content: center;
    width: 1200px;
    margin-left: 120px;
    margin-top: 30px;
    padding-left: -10px;
    padding-bottom: 30px;
}

img.demoimage5 {
    grid-column: 1/2;
    margin: 0;
    text-align: left;
    padding-left: 5px;
    width: 600px;
}

img.demoimage6 {
    grid-column: 2/3;
    margin: 0;
    width: 500px;
    margin-left: -20px;
    padding-top: 5px;
}

img.demoimage7 {
    grid-column: 2/3;
    margin: 0;
    width: 500px;
    margin-left: -20px;
    margin-top: -270px;
}


/*----------- BUSINESS ADVERTISEMENT  --------------*/

div.businessgrid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 30px;
    margin-left: 18px;
    max-width: 500px;
    margin-top: 20px;
}

h1.businesstitle {
    margin-top: 50px;
    margin-bottom: -5px;
    font-size: 40px;
   
 
}

/*----------- MEMBERSHIP --------------*/
.formtitle {
    font-size: 30px;
    margin-left: -100px;
}

.membership {
    margin-left: 100px;
    margin-top: 10px;
}

h1.membership {
    margin-left: 1px;
}

.member {
    width: 350px;
    height: auto;
    margin-left: 473px;
    top: -110px;
    padding: .5rem 20px;
}

.fieldset1 {
    margin-bottom: 20px;
    margin-left: 134px;
    
}

.fieldset2 {
    margin-bottom: 500px;
    margin-left: 134px;
}


fieldset.fieldset3 {
    margin-left: 670px;
    margin-top: -1508px;
    margin-bottom: 100px;
    
}

form fieldset {
    margin: 2rem 0;
    padding: .5rem 2%;
    max-width: 500px;
    margin-left: 130px;
    margin-bottom: 100px;
}

form legend {
    color: #000099;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 22px;
    font-weight: 600;
}

form label.top input, form label.top select {
    width: 100%;
    max-width: 40rem;
  
}

.fieldset2 {
    margin-bottom: 500px;
}


input.submitBtn {
    display: block;
    border: none;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    max-width: 20rem;
    margin-left: 830px;
     font-size: 1.2rem;    
    margin-top: -70px;
    margin-bottom: 200px;
}



.addinfo {
    max-height: 300px;
    width: 440px;
}


.space {
    margin-top: 1.5rem;
}

.thankyou {
    font-family: 'raleway', sans-serif;
    margin-left: 300px;

}

.conditions {
    font-family: 'raleway', sans-serif;
    margin-left: 300px;
}

/*----------- CONTACT INFO  --------------*/
.contacttitle {
    font-size: 30px;
    margin-left: 135px;
    margin-top: 50px;
}

.map1{
    left: 50%;
    margin-left: 66%;
    margin-top: -295px;
    height: 50%;
   }


.map2{
    font-size: 30px;
}

.fieldset4 {
    margin-bottom: 75px;
    margin-left: 135px;
}

.tabtitle {
    margin-left: -140px;
    margin-bottom: 0;
    margin-top: -220px;
}

.height1 {
    line-height: 1px;
}

div.space {
    margin-top: 30px;
}

td.margin1 {
    padding-right: 40px;
    text-align: center;
    
}

td.margin2 {
    padding-right: 40px;
    text-align: center;
    
}

td.margin3 {
    padding-right: 40px;
    text-align: center;
    
}

table {
    margin: 0 auto;
    margin-bottom: 25px;
    margin-left: 240px;
  
   
}

input.submitBtn2 {
    padding: .75rem 1.5rem;
    margin-top: -40px;
    width: 50%;
    max-width: 15rem;
    margin-left: 280px;
}

.addinfo1 {
    max-height: 200px;
}

h2 a.link {
    margin-left: 40%;
}

.bodlink {
    margin-bottom: 40px;
    margin-left: -60px;
}



/*------------DIRECTORY TOGGLE-----------------------*/

div.togbutton {
    margin: 1% 78% auto;
    width: 100px;
    height: 55px;
    text-align: center;
    padding-top: 5px;
}

.bgrid2 {
    text-align: center;
    margin-left: 145px;
    margin-bottom: 30px;
    margin-top: 100px;
    max-width: 1000px;
    
}


/*----------- FOOTER --------------*/
footer {
    font-family: 'raleway';
    font-size: .7rem;
    background-color: #0f025a;
    padding: .5rem;
    text-align: center;
    color: white;
}

.social {
    display: flex;
    flex-direction: row;
    margin-left: 500px;
    max-width: 300px;
 
}

img.facebook {
    width: 40px; 
   

}

img.instagram {
    width: 40px;
  
    
}

img.linkedin {
    width: 40px;
    
    
}

.png {
    color: white;
}


/*----------- CONTACT US BUTTON --------------*/
.contactus {
    width: 350px;
    height: auto;
    right: -473px;
    top: -680px;
    padding: .5rem 20px;
}
 


/*----------- NAVIGATION --------------*/
nav button {display: none !important;}



nav ul li a {
    padding: .5rem 3.5rem;
}





/*----------- DIRECTORY LIST --------------*/
.bgrid2 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.directoryList.hide2{
    grid-template-columns: 1fr 1fr 1fr 1fr;  
}



/*----------- FIVE DAY FORCAST --------------*/


.forecasts {
    grid-template-columns: 160px 160px 160px;

 

}

/*----------- BOARD OF DIRECTORS  --------------*/

.board {
    grid-template-columns: 1fr 1fr 1fr;

}


/*----------- FORM  --------------*/
form label.sbs {
    padding: .4rem 0;
}



/*----------- FOOTER --------------*/
footer {
    font-size: 1rem;
    text-align: center;

}

.social {
    margin-left: 500px;
    max-width: 300px;
 
}

}
/* end of media query */

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }