/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, nav, footer {
        margin: auto;
    }

/*----------- WEATHER SUMMARY --------------*/

    img.logo {
        width: 170px;
        height: auto;
        top: 12px;
        left: 10px;
        
    } 
    
    div.cbox {
        width: 470px;
        height: 170px;
        margin-top: -190px;
        margin-left: 135px;
     
    }

    h1.title {
        font-size: 20px;
        top: 100px;
        left: 165px;
    }
    
    h2.motto {
        font-size: 20px;
        color: black;
        top: 118px;
        left: 165px
    }

/*----------- WEATHER SUMMARY --------------*/

section.stats {
    width: 20rem;
    top: 610px;
    left: 160px;
    margin-left: 135px;
    margin-top: 30px;
}


.stats h3 {
    margin: 5px auto;
    text-align: left;
}

/*----------- GALLERY --------------*/

.slideshow-container {
    max-width: 350px;
    margin-right: 530px;
    top: -994px;
  }

/*----------- MISSION --------------*/

.mission {
    width: 320px;
    height: auto;
    margin-left: 135px;
    top: 15px;
    padding: .5px 20px;
}

section.mission h3 {
    font-size: 24px;
    margin-bottom: 0;

}

/*----------- THREE DAY FORECAST --------------*/

.forecast h2 {
    margin-top: -50px;
}

.forecast {
    margin-top: -780px;
    margin-left: -35px;
}

/*----------- EVENTS --------------*/

main section.event {
    width: 350px;
    height: auto;
    right: -820px;
    top: -508px;
    padding: .2rem 20px;
  

}

/*----------- BUSINESS ADVERTISEMENT  --------------*/

.businessgrid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 30px;
    margin-left: 10px;
    max-width: 500px;
    margin-top: -50px;
}

h1.businesstitle {
    margin-top: 50px;
    margin-bottom: -5px;
 
}

/*----------- MEMBERSHIP --------------*/

.member {
    width: 350px;
    height: auto;
    margin-left: 462px;
    top: -110px;
    padding: .5rem 20px;
}

/*----------- CONTACT US BUTTON --------------*/
.contactus {
    width: 350px;
    height: auto;
    right: -463px;
    top: -680px;
    padding: .5rem 20px;
}
 


  
/*----------- BODY --------------*/




/*----------- NAVIGATION --------------*/
nav button {display: none !important;}



nav ul li a {
    padding: .5rem 3.5rem;
}

/*----------- BUSINESS ADVERTISMENT --------------*/

div.businessgrid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   
 
}



/*----------- DIRECTORY LIST --------------*/
.bgrid2 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.directoryList.hide2{
    grid-template-columns: 1fr 1fr 1fr 1fr;  
}



/*----------- FIVE DAY FORCAST --------------*/


.forecasts {
    grid-template-columns: 160px 160px 160px;

 

}

/*----------- BOARD OF DIRECTORS  --------------*/

.board {
    grid-template-columns: 1fr 1fr 1fr;

}


/*----------- UPCOMING EVENTS  --------------*/



/*----------- TOWN CARDS --------------*/




/*----------- UPCOMING EVENTS  --------------*/




/*----------- FORM  --------------*/
form label.sbs {
    padding: .4rem 0;
}



/*----------- CONTACT OFFICE  --------------*/






/*----------- FOOTER --------------*/
footer {
    font-size: 1rem;



}

}
/* end of media query */

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }