/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, nav, footer {
        margin: auto;
    }

/*----------- HEADER --------------*/

    img.logo {
        width: 170px;
        height: auto;
        top: 12px;
        left: 10px;
        
    } 
    
    div.cbox {
        width: 470px;
        height: 170px;
        margin-top: -190px;
        margin-left: 135px;
     
    }

    h1.title {
        font-size: 20px;
        top: 100px;
        left: 165px;
    }
    
    h2.motto {
        font-size: 20px;
        color: black;
        top: 118px;
        left: 165px
    }

/*----------- WEATHER SUMMARY --------------*/

section.stats {
    width: 20rem;
    height: auto;
    top: 610px;
    left: 160px;
    margin-left: 135px;
    margin-top: 30px;
}


.stats h3 {
    margin: 5px auto;
    text-align: left;
}

/*----------- GALLERY --------------*/

.slideshow-container {
    max-width: 350px;
    height: auto;
    margin-right: 650px;
    top: -994px;
  }

/*----------- MISSION --------------*/

.mission {
    width: 320px;
    height: auto;
    margin-left: 135px;
    top: 15px;
    padding: .5px 20px;
}

section.mission h3 {
    font-size: 24px;
    margin-bottom: 0;

}

/*----------- THREE DAY FORECAST --------------*/

.forecast h2 {
    margin-top: -50px;
}

.forecast {
    margin-top: -780px;
    margin-left: -35px;
}

/*----------- EVENTS --------------*/

main section.event {
    width: 350px;
    height: auto;
    right: -840px;
    top: -508px;
    padding: .2rem 20px;
  

}

/*----------- DEMOGRAPHICS --------------*/

.demotitle {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    margin-top: 30px;

}

.demotitle0 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;

}

section.demoinfo0 {
    width: 1200px;
    height: auto;
    margin-left: 40px;
}

.info0 {
    margin: 0;
    padding-top: 10px;
    padding-left: 5px;
    width: 500px;
    height: auto;
    font-size: 20px;
    margin-top: -260px;
}

h2.info0 {
    margin-top: 20px;
    font-size: 30px;
    margin-left: -10px;

}

div.demographic0 a {
    margin-top: 20px;
    font-size: 20px;
    margin-left: 350px;

}


img.demoimage0 {
    width: 75%;
    height: auto;
    margin-left: 100px;
}

section.demoinfo {
    width: 1200px;
    height: auto;
    margin-left: 120px;
 
}

.info {
    font-size: 20px;
    text-align: left;
    padding-left: 5px;
    width: 500px;
    height: auto;
}

p.info {
    padding-top: 15px;
}


img.demoimage {
    width: 45%;
    height: auto;
    margin-left: 600px;
    margin-top: -400px;
}

section.demoinfo4 {
    width: 1200px;
    height: auto;
    margin-left: 50px;
    padding-top: 30px;

}

img.demoimage4 {
    width: 95%;
    height: auto;
    margin-left: 50px;
    margin-top: -10px;
}

.info4 {
    font-size: 20px;
    text-align: left;
    padding-left: 35px;
    width: 500px;
    height: auto;
    margin-right: 50px;

}

p.info4 {
    padding-top: 15px;
}


section.demoinfo2 {
    width: 1200px;
    height: auto;
    margin-left: 120px;
    margin-top: 50px;
}

p.info2 {
   
    font-size: 20px;
    text-align: left;
    padding-left: 5px;
    width: 500px;
    height: auto;
}

p.info22 {
  
  
    font-size: 20px;
    text-align: left;
    padding-left: 5px;
    width: 500px;
    height: auto;
}


section.demoinfo3 {
  
  
    width: 1200px;
    height: auto;
    margin-left: 120px;
    margin-top: 60px;
}

img.demoimage3 {
 
    margin: 0;
    text-align: left;
    padding-left: 5px;
    width: 600px;
    height: auto;
}

.demoinfo3 p {
    
    font-size: 20px;
    max-width: 500px;
    margin-left: -5px;
}

h3.info33 {
    font-size: 20px;
    max-width: 500px;
    margin-left: -20px;
}

.info33 {
 
 
    font-size: 20px;
    text-align: left;
    width: 500px;
    height: auto;
    margin-left: -20px;
    padding-top: 5px;
    margin-top: -220px;
}

section.demoinfo5 {
    width: 1200px;
    height: auto;
    margin-left: 120px;
    margin-top: 30px;
    padding-bottom: 30px;
}

img.demoimage5 {
    text-align: left;
    padding-left: 5px;
    width: 600px;
    height: auto;
}

img.demoimage6 {
    width: 500px;
    height: auto;
    margin-left: -20px;
    padding-top: 5px;
}

img.demoimage7 {
    width: 500px;
    height: auto;
    margin-left: -20px;
    margin-top: -270px;
}


/*----------- BUSINESS ADVERTISEMENT  --------------*/

div.businessgrid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 30px;
    margin-left: 18px;
    max-width: 500px;
    height: auto;
    margin-top: 20px;
}

h1.businesstitle {
    margin-top: 50px;
    margin-bottom: -5px;
    font-size: 40px;
   
 
}

/*----------- MEMBERSHIP --------------*/
.formtitle {
    font-size: 30px;
    margin-left: -100px;
}

.membership {
    margin-left: 100px;
    margin-top: 10px;
}

h1.membership {
    margin-left: 1px;
}

.member {
    width: 350px;
    height: auto;
    margin-left: 473px;
    top: -110px;
    padding: .5rem 20px;
}

.fieldset1 {
    margin-bottom: 20px;
    margin-left: 134px;
    
}

.fieldset2 {
    margin-bottom: 500px;
    margin-left: 134px;
}


fieldset.fieldset3 {
    margin-left: 670px;
    margin-top: -1508px;
    margin-bottom: 100px;
    
}

form fieldset {
    margin: 2rem 0;
    padding: .5rem 2%;
    max-width: 500px;
    margin-left: 130px;
    margin-bottom: 100px;
}

form legend {
    color: #000099;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 22px;
    font-weight: 600;
}



.fieldset2 {
    margin-bottom: 500px;
}


input.submitBtn {
    display: block;
    border: none;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    max-width: 20rem;
    margin-left: 830px;
     font-size: 1.2rem;    
    margin-top: -70px;
    margin-bottom: 200px;
}



.addinfo {
    max-height: 300px;
    width: 440px;
  
}


.space {
    margin-top: 1.5rem;
}

.thankyou {
    font-family: 'raleway', sans-serif;
    margin-left: 300px;

}

.conditions {
    font-family: 'raleway', sans-serif;
    margin-left: 300px;
}

/*----------- CONTACT INFO  --------------*/
.contacttitle {
    font-size: 30px;
    margin-left: 135px;
    margin-top: 50px;
}



.map1{
    left: 50%;
    margin-left: 64%;
    margin-top: -295px;
    height: 50%;
   }


.map2{
    font-size: 30px;
}

.fieldset4 {
    margin-bottom: 75px;
    margin-left: 135px;
    width: 450px;
    height: auto;

}

.tabtitle {
 margin-top: -230px;
 font-size: 30px;

}

.gridcontact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1000px;
    margin-left: 200px;
}

input.submitBtn2 {
    padding: .75rem 1.5rem;
    margin-top: -40px;
    width: 50%;
    height: auto;
    max-width: 15rem;
    margin-left: 280px;
}

.addinfo1 {
    max-height: 200px;
}

h2 a.link {
    margin-left: 40%;
}

.bodlink {
    text-align: center;
    font-size: 24px;
    font-family: 'raleway';
    margin-bottom: 40px;
}



/*----------- DIRECTORY LIST --------------*/
.bgrid2 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.directoryList.hide2{
    grid-template-columns: 1fr 1fr 1fr 1fr;  
}

/*------------DIRECTORY TOGGLE-----------------------*/

div.togbutton {
    margin: 1% 78% auto;
    width: 100px;
    height: 55px;
    text-align: center;
    padding-top: 5px;
}

.bgrid2 {
    text-align: center;
    margin-left: 145px;
    margin-bottom: 30px;
    margin-top: 100px;
    max-width: 900px;
    font-size: 14px;
    
}

div.businessInfo p {
    line-height: 24px;
    margin-left: 10px;
}


main.bgrid {
    margin-top: 100px;
}

input#list.display.currentView {
    width: 50px;
    height: auto;
    margin-right: 30px;

}

input#grid.display.currentView {
    width: 70px;
    height: auto;
}

input#list.display {
    width: 50px;
    height: auto;
    margin-right: 30px;
}

input#grid.display {
    width: 70px;
    height: auto;
}

.bgrid {
margin-left: 30px;
}




/*----------- FOOTER --------------*/
footer {
    font-family: 'raleway';
    font-size: .7rem;
    background-color: #0f025a;
    padding: .5rem;
    text-align: center;
    color: white;
}

.social {
    display: flex;
    flex-direction: row;
    margin-left: 500px;
    max-width: 300px;
 
}

img.facebook {
    width: 40px; 
    height: auto;
   

}

img.instagram {
    width: 40px;
    height: auto;
  
    
}

img.linkedin {
    width: 40px;
    height: auto;
    
    
}

.png {
    color: white;
}


/*----------- CONTACT US BUTTON --------------*/
.contactus {
    width: 350px;
    height: auto;
    right: -473px;
    top: -680px;
    padding: .5rem 20px;
}
 


/*----------- NAVIGATION --------------*/
nav button {display: none !important;}



nav ul li a {
    padding: .5rem 3.5rem;
}









/*----------- FIVE DAY FORCAST --------------*/


.forecasts {
    grid-template-columns: 160px 160px 160px;

 

}

/*----------- BOARD OF DIRECTORS  --------------*/

.board {
    grid-template-columns: 1fr 1fr 1fr;

}


/*----------- FORM  --------------*/
form label.sbs {
    padding: .4rem 0;
}



/*----------- FOOTER --------------*/
footer {
    font-size: 1rem;
    text-align: center;

}

.social {
    margin-left: 600px;
    max-width: 300px;
 
}

}
/* end of media query */

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }