/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, nav, footer {
        margin: auto;
    }


/*----------- HEADER --------------*/


 /*----------- BUSINESS ADVERTISEMENT--------------*/



  
/*----------- BODY --------------*/




/*----------- NAVIGATION --------------*/
nav button {display: none !important;}



nav ul li a {
    padding: .5rem 5.4rem;
}

/*----------- BUSINESS ADVERTISMENT --------------*/

div.businessgrid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   
 
}

/*----------- DIRECTORY LIST --------------*/
.bgrid2 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}





/*----------- FIVE DAY FORCAST --------------*/


.forecasts {
    grid-template-columns: 160px 160px 160px;

 

}


/*----------- UPCOMING EVENTS  --------------*/



/*----------- TOWN CARDS --------------*/




/*----------- UPCOMING EVENTS  --------------*/




/*----------- FORM  --------------*/



/*----------- CONTACT OFFICE  --------------*/





/*----------- FOOTER --------------*/
footer {
    font-size: 1rem;



}

}
/* end of media query */

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }