@media only screen and (min-width: 32.5rem) {

    
/*----------- HEADER --------------*/

        
/*----------- NAVIGATION --------------*/
nav button {display: none;}

nav ul.hide {display: block;}
        
nav ul {
    margin-left: 10%
}
        
nav ul li {
    float: left;
        }

nav ul li a {
    border: none;
    padding: .8rem .9rem;
}
        
/*----------- MAIN--------------*/        


    

  

/*----------- THREE DAY FORECAST --------------*/

.forecast h2 {
    text-align: center;
    margin-top: -50px;
    margin-left: -400px;
}

.forecast {
    display: block;
    margin-left: 350px;
    margin-top: 30px;
}

.forecasts {
    grid-template-columns: 130px 130px 130px;
    display: grid;
    gap: 15px;
    justify-content: center;
    text-align: center;
}

.forecasts p {
    margin-top: 5px;
}
        

#weatherforecast div {
    line-height: 2em;
    font-family: 'raleway';
    font-weight: 800;
    border: 4px solid #023047;
    text-align: center;
    background: radial-gradient(#eee, #64899B);
}

#weatherforecast img{
    margin-top: 5px;
    width: 70%;
    height: auto;
}






/*-----------  --------------*/










































           
}
/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
        /* end of media query */