@media only screen and (min-width: 32.5rem) {
/* 32.5em is also 520px (if basefont is 16px) */


    
/*----------- HEADER --------------*/


img.logo {
    width: 120px;
    height: auto;
    top: 5px;
    left: 10px;
    
} 

div.cbox {
    width: 470px;
    height: 120px;
    margin-top: -140px;
    margin-left: 75px;
 
}   

h1.title {
    font-size: 16px;
    top:65px;
    left: 125px;
}

h2.motto {
    font-size: 16px;
    color: black;
    top: 80px;
    left: 125px
}
/*----------- NAVIGATION --------------*/
nav button {display: none;}

nav ul.hide {display: block;}
        
nav ul {
    margin-left: 10%
}
        
nav ul li {
    float: left;
        }

nav ul li a {
    border: none;
    padding: .6rem 1rem;
}

/*----------- WEATHER SUMMARY --------------*/

section.stats {
    width: 20rem;
    height: auto;
    top: 610px;
    left: 160px;
    margin-left: 60px;
    margin-top: 30px;
}


.stats h3 {
    margin: 5px auto;
    text-align: left;
}

/*----------- DEMOGRAPHICS --------------*/

.demotitle {
   padding-top: 20px;
   padding-bottom: 20px;

}

.demotitle0 {
   padding-top: 20px;
   padding-bottom: 20px;

}

h2.info0 {
    margin-top: 20px;
    font-size: 30px;
    margin-left: -10px;

}

section.demoinfo0 {
   width: 800px;
   height: auto;
   margin-left: 100px;
}

div.demographic0 a {
    font-size: 20px;
    margin-left: -20px;

}

.info0 { 
   margin: 0;
   padding-top: 10px;
   padding-left: 5px;
   width: 400px;
   height: auto;
   font-size: 16px;
   margin-top: -140px;
   margin-right: 50px;
}


img.demoimage0 {
   width: 85%;
   height: auto;
   margin-top: 30px;
}

section.demoinfo {
   width: 800px;
   height: auto;
   margin-left: 70px;

}

.info {
   font-size: 20px;
   text-align: left;
   width: 300px;
   height: auto;
   font-size: 16px;
   margin-left: -30px;
}

p.info {
   padding-top: 15px;
}


img.demoimage {
   width: 45%;
   height: auto;
   margin-right: 130px;
   margin-top: -440px;
}

section.demoinfo4 {
   width: 800px;
   height: auto;
   margin-left: 20px;
   padding-top: 30px;

}

img.demoimage4 {
   width: 85%;
   height: auto;
   margin-left: 20px;
   margin-right: 30px;
   margin-top: 130px;
}

.info4 {
   font-size: 16px;
   text-align: left;
   padding-left: 5px;
   width: 300px;
   height: auto;
   margin-right: 130px;
  
}

p.info4 {
   padding-top: 15px;

   
}


section.demoinfo2 {
   width: 800px;
   height: auto;
   margin-left: 45px;
   margin-top: 50px;
}

p.info2 {
    grid-column: 1/2;
    margin: 0;
    font-size: 16px;
    text-align: left;
    padding-left: 5px;
    width: 300px;
    height: auto;
}

p.info22 {
    grid-column: 2/3;
    margin: 0;
    font-size: 16px;
    text-align: left;
    padding-left: 5px;
    width: 300px;
    height: auto;
    margin-right: 110px;
}


section.demoinfo3 {
    display: grid;
    align-content: center;
   width: 800px;
   height: auto;
   margin-left: 40px;
   margin-top: 60px;
}

img.demoimage3 {
   grid-column: 1/2;
   margin: 0;
   text-align: left;
   padding-left: 5px;
   width: 95%;
   height: auto;
   margin-left: 8px;
}

h3.info33 {
    margin-right: 100px;

}

.demoinfo3 p {
    font-family: 'raleway';
    font-weight: 700;
    font-size: 18px;
    max-width: 300px;
    height: auto;
    margin-left: 30px;
}

.info33 {
   grid-column: 2/3;
   margin: 0;
   font-size: 16px;
   text-align: left;
   width: 300px;
   height: auto;
   margin-right: 180px;
   padding-top: 5px;
   margin-top: -70px;
}

section.demoinfo5 {
   display: grid;
   align-content: center;
   width: 800px;
   height: auto;
   margin-left: 120px;
   margin-top: 30px;
   padding-bottom: 30px;
}

img.demoimage5 {
    grid-column: 1/2;
    margin: 0;
    text-align: left;
    padding-left: 5px;
    width: 350px;
    height: auto;
    margin-left: -100px;
}

img.demoimage6 {
    grid-column: 2/3;
    margin: 0;
    width: 300px;
    height: auto;
    margin-left: -200px;
    padding-top: 5px;
}

img.demoimage7 {
    grid-column: 2/3;
    margin: 0;
    width: 300px;
    height: auto;
    margin-left: -200px;
    margin-top: -120px;
}

/*----------- THREE DAY FORECAST --------------*/

.forecast h2 {
    font-family: 'Raleway';
    text-align: center;
    margin-top: -30px;
}

.forecast {
    display: block;
    margin-top: -730px;
    margin-left: 5px;
}

.forecasts {
    grid-template-columns: 130px 130px 130px;
    display: grid;
    gap: 15px;
    justify-content: center;
    text-align: center;
}

.forecasts p {
    margin-top: 5px;
}
        

#weatherforecast div {
    line-height: 2em;
    font-family: 'raleway', sans-serif;
    font-weight: 800;
    border: 1px solid #023047;
    text-align: center;
    background: radial-gradient(#eee, #fb7404);
}

#weatherforecast img{
    margin-top: 5px;
    width: 70%;
    height: auto;
}

/*----------- MISSION --------------*/

.mission {
    width: 320px;
    height: auto;
    margin-left: 60px;
    top: 15px;
    padding: .5px 20px;
}

/*----------- CONTACT US BUTTON --------------*/
.contactus {
    width: 320px;
    height: auto;
    right: -393px;
    top: -680px;
    padding: .5rem 20px;
}


/*----------- MEMBERSHIP --------------*/
.formtitle {
    font-size: 24px;
    margin-left: 20px;
}

.member {
    width: 320px;
    height: auto;
    margin-left: 393px;
    top: -80px;
    padding: .5rem 20px;
}

fieldset.fieldset1 {
    margin-left: 130px;
    
    
}

fieldset.fieldset2 {
    margin-left: 130px;
    
    
}

fieldset.fieldset3 {
    margin-left: 130px;
    margin-top: -480px;
    
}

form fieldset {
    margin: 2rem 0;
    padding: .5rem 2%;
    max-width: 500px;
    margin-left: 130px;
    margin-bottom: 100px;
}

input.submitBtn {
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    max-width: 20rem;
    margin-left: 250px;
    font-size: 1.2rem;    
    margin-top: 230px;
    margin-bottom: 100px;
}

form label.top input, form label.top select {
    width: 100%;
    height: auto;
    max-width: 50rem;
  
}






/*----------- GALLERY --------------*/

.slideshow-container {
    max-width: 310px;
    margin-right: 60px;
    top: -994px;
  }

  /*----------- EVENTS --------------*/

main section.event {
    width: 350px;
    height: auto;
    right: -210px;
    top: 260px;
    padding: .2rem 20px;
  

}

/*----------- CONTACT INFO  --------------*/
.map1{
    margin-left: 40%;
    margin-top: 380px;
   }

.map2{
font-size: 30px;
}

.map1 h2 {
    font-size: 24px;

}

.map1 h3 {
   font-size: 20px;
    
}

iframe {
    width: 600px;
   
}

.contacttitle {
    margin-left: 275px;
    font-size: 30px;
}

h1.tabtitle {
    margin-left: 10px;
    font-size: 22px;
}

fieldset.fieldset4 {
    margin-bottom: 75px;
    margin-left: 135px;
    width: 450px;
}

.gridcontact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}

.bodlink {
    text-align: center;
}

textarea.addinfo1 {
    max-height: 200px;
    max-width: 610px;
}

input.submitBtn2 {
    margin-left: 260px;
}

.height1 {
    line-height: 16px;
}
/*------------DIRECTORY TOGGLE-----------------------*/

div.togbutton {
    margin-bottom: 50px;

}

/*-----------BUSINESS ADVERTISEMENT  --------------*/
div.businessgrid {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30px;
    margin-left: 135px;
    max-width: 500px;
    margin-top: 30px;
    
}

h1.businesstitle {
    margin-top: 490px;
    margin-bottom: 30px;
  
}


/*----------- DIRECTORY LIST --------------*/
.bgrid2 {
    grid-template-columns: 1fr 1fr;
    margin-left: 15px;
}

.directoryList.hide2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: auto;
}

.hide2 section{
    padding: 0;
    margin: 0;

}

.togbutton {
    display: block;
    margin-left: 80%;
}

.directoryList {
    margin: 2% auto;
   max-width: 30rem;
}
.directoryList section{
    padding-top: 50px;
}
.directoryList img {
    float: left;
    padding-right: 5px;
    width: 140px;
    height: auto;
}
.directoryList h2 {
    font-size: 1.5em;
}
.directoryList p {
    font-size: 1em;;
}

.bgrid {
    margin-left: -30px;
}

/*----------- BOARD OF DIRECTORS  --------------*/

.board {
    grid-template-columns: 1fr 1fr 1fr;
}



.social {
    margin-left: 220px;
}

footer {
    font-size: .9rem;

}

/* end of media query */

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

           
}
