@media only screen and (min-width: 32.5rem) {

    
/*----------- HEADER --------------*/

        
/*----------- NAVIGATION --------------*/
nav button {display: none;}

nav ul.hide {display: block;}
        
nav ul {
    margin-left: 10%
}
        
nav ul li {
    float: left;
        }

nav ul li a {
    border: none;
    padding: .8rem .9rem;
}



/*----------- THREE DAY FORECAST --------------*/

.forecast h2 {
    font-family: 'Raleway';
    text-align: center;
    margin-top: -50px;
}

.forecast {
    display: block;
    margin-top: -780px;
    margin-left: -35px;
}

.forecasts {
    grid-template-columns: 130px 130px 130px;
    display: grid;
    gap: 15px;
    justify-content: center;
    text-align: center;
}

.forecasts p {
    margin-top: 5px;
}
        

#weatherforecast div {
    line-height: 2em;
    font-family: 'raleway';
    font-weight: 800;
    border: 1px solid #023047;
    text-align: center;
    background: radial-gradient(#eee, #fb7404);
}

#weatherforecast img{
    margin-top: 5px;
    width: 70%;
    height: auto;
}


/*-----------BUSINESS ADVERTISEMENT  --------------*/
div.businessgrid {
    grid-template-columns: 1fr 1fr;
    
}

/*----------- DIRECTORY LIST --------------*/
.bgrid2 {
    grid-template-columns: 1fr 1fr;
}

.directoryList.hide2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.hide2 section{
    padding: 0;
    margin: 0;

}

.togbutton {
    display: block;
    margin-left: 80%;
}

.directoryList {
    margin: 2% auto;
   max-width: 30rem;
}
.directoryList section{
    padding-top: 50px;
}
.directoryList img {
    float: left;
    padding-right: 5px;
    width: 140px;
}
.directoryList h2 {
    font-size: 1.5em;
}
.directoryList p {
    font-size: 1em;;
}

/*----------- BOARD OF DIRECTORS  --------------*/

.board {
    grid-template-columns: 1fr 1fr 1fr;
}














































           
}
/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
        /* end of media query */