/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }



/*----------- ALERT --------------*/

.alertbanner {
    font-family: 'Oswald';
    background-color: rgb(71, 1, 1);
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
}
.alertbanner h1 {
    margin-top: 0;
    padding-top: 10px;
}

.alertbanner p {
    margin: 0;
}

button#alertExit.alertbutton {
  padding: 5px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
 
}


.disabled {
    display: none;
}

/*----------- BODY --------------*/
body{
    margin: 0;
}


/*----------- HEADER --------------*/

div.header {
 margin: auto;
}

img {
    display: block;
    width: 100%;
    margin: auto;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

img.logo {
    width: 190px;
    height: auto;
    position: absolute;
    top: 100px;
    left: 140px
}

h1.title {
    position: absolute;
    top: 100px;
    left: 140px;
    background-color: aliceblue; 
    width: 500px;
}

h2.motto {
    position: absolute;
    top: 100px;
    left: 140px
}




/*----------- NAVIGATION --------------*/
nav button {
    flex-direction: row;
    align-self: flex-end;
    justify-self: flex-end;
    background-color: #000099;
    font-size: 1.6rem;
    color: #ffffff;
    border: none;
    padding: .3rem 3%;
}

div.navi {
    background-color: #000099;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
   
}

nav li {
    margin-left: auto;
    margin-right: auto;
}


nav ul li a{
    display: block;
    padding: .8rem 2rem;
    text-decoration: none;
    background-color: #000099;
    color: white;
    border-top:1px solid rgba(0,0,0,0.3);
    }

    nav ul li a:hover {
        background-color: #fb7404;
        color: #010706;
    }
    nav ul li.active a {
        background-color:#fc9036;
        color: #010706;
        font-weight: 700;
    }

    nav ul.hide {display: none;}


/*----------- WEATHER SUMMARY --------------*/

section.stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'raleway', sans-serif;
    width: 24rem;
    top: 610px;
    left: 160px;
    background: radial-gradient(white, #000099);
    border: 1px solid #000;
    padding: 1rem;
    opacity: .8;
    margin-left: 170px;
    margin-top: 30px;
}


.stats h3 {
    border-bottom: 2px solid #023047;
    grid-column: 1/3;
    margin: 5px auto;
    text-align: left;
}

div.grid1 {
    grid-column: 1/2;
    margin: 0;
    text-align: right;
    font-weight: 700;
    line-height: .9;
    
}

div.grid2 {
    grid-column: 2/3;
    margin: 0;
    text-align: left;
    font-weight: 600;
    line-height: .9;
    padding-left: 5px;
}

/*----------- EVENTS --------------*/

main section.event {
    font-family: 'raleway';
    display: block;
    position: relative;
    background: orange;
    width: 350px;
    height: auto;
    right: -1160px;
    top: -485px;
    padding: .8rem 20px;
  

}

/*----------- CONTACT US BUTTON --------------*/
.contactus {
    font-family: 'raleway', sans-serif;
    display: block;
    position: relative;
    background: #000099;
    text-align: center;
    color: white;
    width: 350px;
    height: auto;
    right: -1160px;
    top: -465px;
    padding: .5rem 20px;
}

.contactus h1 {
    font-size: 24px;

}

/*----------- THREE DAY FORECAST--------------*/


.forecast {
    display: none;
}


/*----------- MISSION --------------*/

.mission {
    display: block;
    position: relative;
    text-align: center;
    font-family: 'raleway', sans-serif;
    background: orange;
    width: 385px;
    height: auto;
    margin-left: 170px;
    top: 30px;
    padding: .5rem 20px;
}

section.mission h3 {
    font-size: 24px;
    margin-bottom: 0;

}

/*----------- MEMBERSHIP --------------*/

.member {
    display: block;
    position: relative;
    text-align: center;
    font-family: 'raleway', sans-serif;
    background: #000099;
    color: white;
    width: 385px;
    height: auto;
    margin-left: 170px;
    top: 50px;
    padding: .5rem 20px;
}

section.member h1 {
    font-size: 24px;


}

/*----------- MAIN --------------*/
main {
    padding: 0;
    min-height: 25rem;
}



/*----------- GALLERY --------------*/

/* Slideshow container */
.slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
    margin-right: 592px;
    top: -995px;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 45px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    top: 10px;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 10px 2px;
    background-color:#0f025a;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


/*----------- DEMOGRAPHICS --------------*/

.demotitle {
    text-align: center;
    font-family: "raleway";

}

section.demoinfo {
    display: grid;
    align-content: center;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.info {
    grid-column: 1/2;
    margin: 0;
    font-family: "raleway";
    font-size: 20px;
    text-align: left;
    padding-left: 5px;
    width: 400px;
}

img.demoimage {
    grid-column: 2/3;
    width: 75%;
}


section.demoinfo2 {
    display: grid;
    align-content: center;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.info2 {
    grid-column: 1/2;
    margin: 0;
    font-family: "raleway";
    font-size: 20px;
    text-align: left;
    padding-left: 5px;
    width: 400px;
}

.info22 {
    grid-column: 2/3;
    margin: 0;
    font-family: "raleway";
    font-size: 20px;
    text-align: left;
    padding-left: 5px;
    width: 400px;
}

section.demoinfo3 {
    display: grid;
    align-content: center;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.info3 {
    grid-column: 1/2;
    margin: 0;
    font-family: "raleway";
    font-size: 20px;
    text-align: left;
    padding-left: 5px;
    width: 400px;
}

.info33 {
    grid-column: 2/3;
    margin: 0;
    font-family: "raleway";
    font-size: 20px;
    text-align: left;
    padding-left: 5px;
    width: 400px;
}


/*----------- BUSINESS ADVERTISEMENT  --------------*/

.business {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.businessgrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    text-align: center;
    margin-bottom: 30px;
    margin-left: 10px;
    max-width: 800px;
}

.businessgrid img {
    width: 250px;
    height: auto;
   
}

h1.businesstitle {
    margin-top: 50px;
    margin-bottom: -5px;
    font-family: 'raleway';
    font-size: 36px;
    text-align: center;

}

figure.color:hover {
    max-width: 370px;
    background: radial-gradient(rgb(250, 248, 248), #4C4CB7);

}


figcaption {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'raleway', sans-serif;
    font-size: 20px;
    text-align: center;
  }


/*----------- DIRECTORY LIST --------------*/
#switch img{
    width: 50%;
}

h1.bgrid {
    margin-top: 30px;
    margin-bottom: -5px;
    font-family: 'raleway', sans-serif;
    font-size: 30px;
    margin-left: 10px;
}

.bgrid {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.bgrid2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    text-align: center;
    margin-left: -45px;
    margin-bottom: 30px;
    
}


.gallerygrid img {
    width: 370px;
    height: auto;
   
}

/*----------- CONTACT INFO  --------------*/
.contacttitle {
    font-family: "raleway";
    font-size: 30px;
    margin-left: 135px;
    margin-top: 80px;
}

legend.black {
    color:rgb(14, 2, 2)
}

.map1{
    position: fixed, no-repeat;
    left: 50%;
    margin-left:65%;
    margin-top: -350px;
    height: 50%;
    transform: translate(-50%, -50%);
    font-family: 'raleway';
    }

.map2{
    font-family: "raleway";
    font-size: 30px;
}

.fieldset4 {
    margin-bottom: 75px;
    margin-left: 135px;
}

fieldset.fieldset4 {
    border: 3px solid black;
}

.tabtitle {
    text-align: center;
    margin-left: -140px;
    margin-bottom: 0;
    font-family: raleway;
    margin-top: -50px;
}

.height1 {
    line-height: 1px;
}

div.space {
    margin-top: 30px;
}

td.margin1 {
    padding-right: 40px;
    text-align: center;
    
}

td.margin2 {
    padding-right: 40px;
    text-align: center;
    
}

td.margin3 {
    padding-right: 40px;
    text-align: center;
    
}

table {
    margin: 0 auto;
    font-family: "raleway";
    margin-bottom: 50px;
   
}

input.submitBtn2 {
    display: block;
    border: none;
    background-color: black;
    color: white;
    padding: .75rem 1.5rem;
    margin-top: -40px;
    width: 50%;
    max-width: 15rem;
    margin-left: 280px;
    font-weight: bold;
    font-family: 'raleway', sans-serif;
    font-size: 1.2rem;    
}

.addinfo1 {
    max-height: 200px;
}

h2 a.link {
    margin-left: 40%;
}



/*----------- BOARD OF DIRECTORS  --------------*/

.boardtitle {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'raleway', sans-serif;
    font-size: 30px;
    text-align: center;
}


.boardgrid {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.board {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    text-align: center;
    font-family: 'raleway';

}


/*----------- UPCOMING EVENTS  --------------*/


/*----------- LAYOUT FOR THE TOWN CARDS  --------------*/


/*------------FORM-----------------------*/
.formtitle {
    font-family: "raleway";
    font-size: 30px;
    margin-left: 220px;
    margin-top: 30px;
}
main.formsize {
    padding: 0 2%;
    height: 10rem;
}

.membership {
    margin-left: -10px;
    margin-top: 10px;
}

#text {
    margin-top: -200px;
}

.fieldset1 {
    margin-bottom: 30px;
}

.fieldset2 {
    margin-bottom: 60px;
}

.style {
    display:inline-block;
    border:1px solid black;
    width:50px;
    height:50px;
    background-color:#e3e5e4;
    margin-right: 10px;
}

.non {
    margin-left: 60px;
    margin-top: -86px;
}

.style1 {
    border:1px solid black;
    width:50px;
    height:50px;
    display:inline-block;
    background-color:#cd7f32;
    margin-right: 10px;
}

.style2 {
    border:1px solid black;
    width:50px;
    height:50px;
    display:inline-block;
    background-color:#c0c0c0;
    margin-right: 10px;
}

.style3 {
    border:1px solid black;
    width:50px;
    height:50px;
    display:inline-block;
    background-color: #d3af37;
    margin-right: 10px;
}

fieldset.fieldset3 {
    margin-left: 890px;
    margin-top: -1070px;
}

form fieldset {
    margin: 2rem 0;
    border: 3px solid #000099;
    padding: .5rem 2%;
    max-width: 500px;
    margin-left: 220px;
    font-family: 'raleway', sans-serif;
    margin-bottom: 100px;
}

form legend {
    color: #000099;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 22px;
    font-weight: 600;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: 1rem;
}

form label.top input, form label.top select {
    -webkit-appearance:none;
    display: block;
    font-size: 1.1rem;
    border: solid 1.5px #000099;
    padding-top: .75rem;
    color: rgb(14, 2, 2);
    width: 100%;
    max-width: 40rem;
    background-color: rgba(38, 90, 121, 0.1);
    font-family: 'Merriweather Sans', sans-serif;
}

form label.sbs {
    display: block;
    margin-top: 10px;
    padding: .50rem 0;
    color: #555;
}

input[type="radio"] {
    margin-right: 5px;
  }

input[type="checkbox"] {
    margin-right: 5px;
  }


input.submitBtn {
    display: block;
    border: none;
    background-color: #000099;
    color: white;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    margin-left: 980px;
    font-weight: bold;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.2rem;    
}

form label.top input:required {
    border-left: rgb(121, 3, 3) solid 6px;
}

form label.top input:required:valid {
    border-left: rgb(1, 90, 1) solid 6px;
}

.addinfo {
    max-height: 300px;
}


#wearatings {
    padding-left: .5rem;
    font-weight: 700;
}

#wearating {
    min-width: 8rem;
    width: calc(50vw - 1.25rem);
    max-width: 11.25rem;
}

.space {
    margin-top: 1.5rem;
}

.thankyou {
    font-family: 'Merriweather Sans', sans-serif;
    margin-left: 300px;

}





/*----------- FOOTER --------------*/
footer {
    font-family: 'raleway';
    font-size: .7rem;
    background-color: #0f025a;
    padding: .5rem;
    text-align: center;
    color: white;
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}