/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }



/*----------- ALERT --------------*/

.alertbanner {
    font-family: 'Oswald';
    background-color: rgb(71, 1, 1);
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
}
.alertbanner h1 {
    margin-top: 0;
    padding-top: 10px;
}

.alertbanner p {
    margin: 0;
}

button#alertExit.alertbutton {
  padding: 5px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
 
}


.disabled {
    display: none;
}

/*----------- BODY --------------*/
body{
    margin: 0;
}


/*----------- HEADER --------------*/

div.header {
 margin: auto;
}

img {
    display: block;
    width: 100%;
    margin: auto;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

img.logo {
    width: 190px;
    height: auto;
    position: absolute;
    top: 100px;
    left: 140px
}

h1.title {
    position: absolute;
    top: 100px;
    left: 140px
}

h2.motto {
    position: absolute;
    top: 100px;
    left: 140px
}


/*----------- NAVIGATION --------------*/
nav button {
    flex-direction: row;
    align-self: flex-end;
    justify-self: flex-end;
    background-color: #64899B;;
    font-size: 1.6rem;
    color: #ffffff;
    border: none;
    padding: .3rem 3%;
}

div.navi {
    background-color: #0f025a;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0px;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}
nav ul li a{
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    margin-left: 55px;
    background-color: #0f025a;
    color: white;
    border-top:1px solid rgba(0,0,0,0.3);
    }

    nav ul li a:hover {
        background-color: #899B64;
        color: #010706;
    }
    nav ul li.active a {
        background-color:#9B9164;
        color: #010706;
        font-weight: 700;
    }

    nav ul.hide {display: none;}


/*----------- EVENTS --------------*/

main section.event {
    display: block;
    position: relative;
    background: orange;
    width: 325px;
    height: auto;
    left: 230px;
    top: 200px;

}


/*----------- WEATHER SUMMARY --------------*/

main section.stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Merriweather', sans-serif;
    width: 20rem;
    top: 610px;
    left: 260px;
    background: radial-gradient(#eee, #fc9036);
    border: 1px solid #000;
    padding: 1rem;
    opacity: .8;
    margin: 6px auto;
}


.stats h3 {
    border-bottom: 2px solid #023047;
    grid-column: 1/3;
    margin: 5px auto;
    text-align: left;
}

div.grid1 {
    grid-column: 1/2;
    margin: 0;
    text-align: right;
    font-weight: 700;
    line-height: .9;
    
}

div.grid2 {
    grid-column: 2/3;
    margin: 0;
    text-align: left;
    font-weight: 600;
    line-height: .9;
    padding-left: 5px;
    

}


/*----------- THREE DAY FORECAST--------------*/


.forecast {
    display: none;
}




/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 25rem;
}



/*----------- GALLERY --------------*/

/* Slideshow container */
.slideshow-container {
    max-width: 350px;
    position: relative;
    margin: auto;
    margin-right: 200px;
    top: -280px;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    top: 10px;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }





/*----------- BUSINESS ADVERTISEMENT  --------------*/

.business {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}



div.businesses {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    text-align: center;
    margin-bottom: 30px;
}

.businesses img {
    width: 75%;
    height: auto;
}


h1.businesstitle {
    margin-top: 50px;
    margin-bottom: -5px;
    font-family: 'raleway';
    font-size: 30px;
    text-align: center;

}



figcaption {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'raleway', sans-serif;
    font-size: 20px;
    text-align: center;
  }

/*----------- CONTACT INFO  --------------*/



/*----------- UPCOMING EVENTS  --------------*/


/*----------- LAYOUT FOR THE TOWN CARDS  --------------*/


/*----------- LAYOUT FOR FORM  --------------*/



/*----------- FOOTER --------------*/
footer {
    font-family: 'raleway';
    font-size: .7rem;
    background-color: #0f025a;
    padding: .5rem 2%;
    text-align: center;
    color: white;
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}