/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }



/*----------- ALERT --------------*/

.alertbanner {
    font-family: 'Oswald';
    background-color: rgb(71, 1, 1);
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
}
.alertbanner h1 {
    margin-top: 0;
    padding-top: 10px;
}

.alertbanner p {
    margin: 0;
}

button#alertExit.alertbutton {
  padding: 5px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
 
}


.disabled {
    display: none;
}

/*----------- BODY --------------*/
body{
    margin: 0;
}


/*----------- HEADER --------------*/

div.header {
 margin: auto;
}

img {
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
}

div.cbox {
    display: inline-block;
    position: absolute;
    width: 170px;
    height: 50px;
    background-color:white;
    opacity: 95%;
    margin-top: -60px;
    margin-left: 15px;
 
}

img.logo {
    width: 50px;
    height: auto;
    position: absolute;
    top: 5px;
    left: 10px;
    
}

h1.title {
    position: absolute;
    font-family: 'Playfair Display', serif;
    color:black;
    font-weight: 500;
    font-size: 6px;
    top: 25px;
    left: 65px;
}

h2.motto {
    position: absolute;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 6px;
    color: black;
    top: 32px;
    left: 65px
}




/*----------- NAVIGATION --------------*/
nav button {
    flex-direction: row;
    align-self: flex-end;
    justify-self: flex-end;
    background-color: #000099;
    font-size: 1.6rem;
    color: #ffffff;
    border: none;
    padding: .3rem;
}

div.navi {
    background-color: #000099;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin: 0 auto;
    width: 100%;
    height: auto;
    text-align: left;
    padding-left: 8px;
    
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
   
}

nav li {
    margin-left: auto;
    margin-right: auto;
}


nav ul li a{
    display: block;
    padding: .9rem 2rem;
    text-decoration: none;
    background-color: #000099;
    color: white;
    border-top:1px solid rgba(0,0,0,0.3);
    }

    nav ul li a:hover {
        background-color: #fb7404;
        color: #010706;
    }
    nav ul li.active a {
        background-color:#fc9036;
        color: #010706;
        font-weight: 700;
    }

    nav ul.hide {display: none;}


/*----------- WEATHER SUMMARY --------------*/

section.stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'raleway', sans-serif;
    width: 20rem;
    height: auto;
    top: 610px;
    left: 160px;
    background: radial-gradient(white, #000099);
    border: 1px solid #000;
    padding: 1rem;
    opacity: .8;
    margin-left: 0;
    margin-top: 15px;
}


.stats h3 {
    border-bottom: 2px solid #023047;
    grid-column: 1/3;
    margin: 5px auto;
    text-align: left;
}

div.grid1 {
    grid-column: 1/2;
    margin: 0;
    text-align: right;
    font-weight: 700;
    line-height: .9;
    
}

div.grid2 {
    grid-column: 2/3;
    margin: 0;
    text-align: left;
    font-weight: 600;
    line-height: .9;
    padding-left: 5px;
}

/*----------- EVENTS --------------*/

main section.event {
    font-family: 'raleway', sans-serif;
    display: block;
    position: relative;
    background: orange;
    width: 350px;
    height: auto;
    right: -820px;
    top: -508px;
    padding: .2rem 20px;
  

}

/*----------- CONTACT US BUTTON --------------*/
.contactus {
    font-family: 'raleway', sans-serif;
    display: block;
    position: relative;
    background: #000099;
    text-align: center;
    color: white;
    width: 350px;
    height: auto;
    right: -463px;
    top: -680px;
    padding: .5rem 20px;
}

.contactus h1 {
    font-size: 24px;
    font-family: 'raleway', sans-serif;

}

.conbut a {
    text-decoration: none;
    color: white;
    
}

.membut a {
    text-decoration: none;
    color: white;
}

/*----------- THREE DAY FORECAST--------------*/


.forecast {
    display: none;
}


/*----------- MISSION --------------*/

.mission {
    display: block;
    position: relative;
    text-align: center;
    font-family: 'raleway', sans-serif;
    background: orange;
    width: 320px;
    height: auto;
    margin-left: 0;
    top: 15px;
    padding: .5px 20px;
}

section.mission h3 {
    font-family: 'raleway', sans-serif;
    font-size: 24px;
    margin-bottom: 0;

}

/*----------- MEMBERSHIP --------------*/

.member {
    display: block;
    position: relative;
    text-align: center;
    font-family: 'raleway', sans-serif;
    background: #000099;
    color: white;
    width: 350px;
    height: auto;
    margin-left: 462px;
    top: -110px;
    padding: .5rem 20px;
}

section.member h1 {
    font-family: 'raleway', sans-serif;
    font-size: 22px;


}



/*----------- MAIN --------------*/
main {
    padding: 0;
    min-height: 25rem;
}



/*----------- GALLERY --------------*/

/* Slideshow container */
.slideshow-container {
    max-width: 350px;
    position: relative;
    margin: auto;
    margin-right: 0;
    top: -528px;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    height: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  
  /* The dots/bullets/indicators */
  .dot {
    top: 10px;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 10px 2px;
    background-color:#0f025a;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


/*----------- DEMOGRAPHICS --------------*/

.demotitle {
    text-align: center;
    font-family: 'raleway', sans-serif;
    padding-top: 20px;
    font-size: 24px;
    margin-top: 20px;

}

.demotitle0 {
    text-align: center;
    font-family: 'raleway', sans-serif;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 0;

}

section.demoinfo0 {
    display: grid;
    align-content: center;
    width: 1200px;
    height: auto;
    margin-left: 40px;
}

.info0 {
    grid-column: 2/3;
    margin: 0;
    font-family: 'raleway', sans-serif;
    font-size: 12px;
    text-align: left;
    padding-top: 10px;
    padding-left: 5px;
    width: 500px;
    height: auto;
    margin-left: -130px;
    margin-top: -100px;
}


img.demoimage0 {
    grid-column: 1/2;
    width: 50%;
    height: auto;
    margin-left: -40px;
    margin-top: 20px;
}



.info {
    grid-column: 1/2;
    margin: 0;
    font-family: 'raleway', sans-serif;
    font-size: 12px;
    text-align: left;
    padding-left: 20px;
    width: 300px;
    height: auto;
}

p.info {
    padding-top: 15px;
}


img.demoimage {
    grid-column: 2/3;
    width: 75%;
    height: auto;
    margin-top: 20px;
}

section.demoinfo4 {
    display: grid;
    align-content: center;
    width: 1200px;
    height: auto;
    margin-left: 50px;
    padding-top: 30px;

}

img.demoimage4 {
    grid-column: 1/2;
    width: 45%;
    height: auto;
    margin-left: -50px;
    margin-top: 1px;
}

.info4 {
    grid-column: 2/3;
    margin: 0;
    font-family: 'raleway', sans-serif;
    font-size: 12px;
    text-align: left;
    padding-left: 5px;
    width: 500px;
    height: auto;
}

p.info4 {
    padding-top: 15px;
}


section.demoinfo2 {
    display: grid;
    align-content: center;
    width: 1200px;
    height: auto;
    margin-left: 120px;
    margin-top: 5px;
}

p.info2 {
    font-family: 'raleway', sans-serif;
    font-size: 12px;
    text-align: left;
    padding-left: 5px;
    width: 300px;
    height: auto;
    margin-left: -110px;
}

p.info22 {
    font-family: 'raleway', sans-serif;
    font-size: 12px;
    text-align: left;
    padding-left: 5px;
    width: 300px;
    height: auto;
    margin-left: -110px;
}


section.demoinfo3 {
    margin-left: -10px;
    margin-top: 60px;
} 

img.demoimage3 {
    padding-left: 5px;
    width: 320px;
    height: auto;
    margin-left: 10px;
    margin-top: -60px;
}

.info33 {
    font-family: 'raleway', sans-serif;
    font-size: 12px;
    text-align: left;
    width: 500px;
    height: auto;
    margin-left: -20px;
    padding-top: 5px;
}

h3.info33 {
    font-size: 14px;
    max-width: 300px;
    margin-left: 3px;
}

section.demoinfo5 {
    width: 1200px;
    height: auto;
    margin-left: 120px;
    margin-top: 30px;
    
    padding-bottom: 30px;
}

img.demoimage5 {
    text-align: left;
    padding-left: 5px;
    width: 300px;
    height: auto;
    margin-left: -120px;
}

img.demoimage6 {
    width: 300px;
    height: auto;
    margin-left: -120px;
    padding-top: 5px;
    margin-top: 20px;
    margin-left: -110px;
}

img.demoimage7 {
    width: 300px;
    height: auto;
    margin-left: -110px;
    margin-top: 20px;
}


/*----------- BUSINESS ADVERTISEMENT  --------------*/

.business {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.businessgrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    text-align: center;
    margin-bottom: 30px;
    margin-left: 10px;
    max-width: 500px;
}

.businessgrid img {
    width: 175px;
    height: auto;
   
}

h1.businesstitle {
    margin-top: -500px;
    margin-bottom: -5px;
    font-family: 'raleway', sans-serif;
    font-size: 28px;
    text-align: center;

}

figure.color:hover {
    max-width: 370px;
    background: radial-gradient(rgb(250, 248, 248), #4C4CB7);

}


figcaption {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'raleway', sans-serif;
    font-size: 20px;
    text-align: center;
  }


/*----------- DIRECTORY LIST --------------*/
#switch img{
    width: 50%;
    height: auto;
}

main.bgrid {
    margin-top: 10px;
}

h1.bgrid {
    margin-top: 30px;
    margin-bottom: -5px;
    font-family: 'raleway', sans-serif;
    font-size: 30px;
    margin-left: 10px;
}

.bgrid {
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}

.bgrid2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    text-align: center;
    margin-left: 445px;
    margin-bottom: 30px;
    margin-top: 100px;
    max-width: 1000px;
    font-size: 11px;
    
}

div.businessInfo p {
    line-height: 8px;
}





/*------------DIRECTORY TOGGLE-----------------------*/

#listbutton{
    display: none;
}

div.togbutton {
    margin: 1% 78% auto;
    width: 100px;
    height: 55px;
    text-align: center;
    padding-top: 5px;
}

input#list.display.currentView {
    width: 40px;
    height: auto;
    margin-right: 40px;

}

input#grid.display.currentView {
    width: 60px;
    height: auto;
    margin-right: 50px;
}

input#list.display {
    width: 40px;
    height: auto;
    margin-right: 40px;
}

input#grid.display {
    width: 60px;
    height: auto;
    margin-right: 50px

}


.directoryList {
    display: flex;
    flex-direction: column;
    margin: 20%;
    text-align: left;
    margin-left: 10px;

}
.directoryList section{
    padding-top: 50px;
}
.directoryList img {
    float: left;
    padding-right: 5px;
}
.directoryList h2 {
    font-family: 'raleway', sans-serif;
    font-size: 1em;
    margin-top: -5px;
}
.directoryList p {
    font-family: 'raleway', sans-serif;
    font-size: .8em;
    line-height: .5;
    margin-top: -5px;
}



/*----------- CONTACT INFO  --------------*/
.contacttitle {
    font-family: 'raleway', sans-serif;
    font-size: 24px;
    margin-left: 25px;
    margin-top: 30px;
}

legend.black {
    color:rgb(14, 2, 2)
}

.map1{
    left: 50%;
    margin-left: 115px;
    margin-top: 360px;
    height: 50%;
    transform: translate(-50%, -50%);
    font-family: 'raleway', sans-serif;
    
 }

 .map1 h2 {
     font-size: 20px;

 }

 .map1 h3 {
    font-size: 10px;
     
}

iframe {
    width: 300px;
    
}


.map2{
    font-family: 'raleway', sans-serif;
    font-size: 24px;
}

.fieldset4 {
    margin-bottom: 75px;
    margin-left: 5px;
}

fieldset.fieldset4 {
    border: 3px solid black;
    min-width: 291px;
}


input.submitBtn2 {
    display: block;
    border: none;
    background-color: black;
    color: white;
    padding: .75rem 1.5rem;
    margin-top: -40px;
    width: 50%;
    height: auto;
    max-width: 15rem;
    margin-left: 80px;
    font-weight: bold;
    font-family: 'raleway', sans-serif;
    font-size: 1.2rem;    
}

.addinfo1 {
    max-height: 200px;
    width: 285px;
    height: auto;
}

textarea.addinfo1 {
    width: 285px;
    height: auto;
}

h2 a.link {
    margin-left: 40%;
    font-family: 'raleway', sans-serif;
}

.bodlink {
    margin-bottom: 60px;
    margin-left: 60px;
    margin-top: 30px;
    font-family: 'raleway', sans-serif;
    font-size: 20px;
}

.gridcontact {
    display: grid;
    grid-template-columns: 1fr ;
    font-family: 'raleway';
    margin-left: 40px;
}

.tabtitle {
    text-align: center;
    margin-top: -230px;
    font-family: 'raleway', sans-serif;
    font-size: 20px;
   
   }



/*----------- BOARD OF DIRECTORS  --------------*/

.boardtitle {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'raleway', sans-serif;
    font-size: 30px;
    text-align: center;
}


.boardgrid {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.board {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    text-align: center;
    font-family: 'raleway', sans-serif;
    
}

/*------------FORM-----------------------*/
.formtitle {
    font-family: 'raleway', sans-serif;
    font-size: 24px;
    text-align: center;
    margin-left: 23px;
    margin-top: 30px;
}


.membership {
    margin-left: -1px;
    margin-top: 10px;
}

h2.membership {
    font-size: 20px;
}

h1.membership {
    font-size: 26px;
}

#text {
    margin-top: -200px;
}

.fieldset1 {
    margin-bottom: 30px;
    margin-left: 24px;
}

.fieldset2 {
    margin-bottom: 500px;
    margin-left: 24px;
}


.style {
    display:inline-block;
    border:1px solid black;
    width:50px;
    height:50px;
    background-color:#e3e5e4;
    margin-right: 10px;
}

.non {
    margin-left: 60px;
    margin-top: -86px;
}

.style1 {
    border:1px solid black;
    width:50px;
    height:50px;
    display:inline-block;
    background-color:#cd7f32;
    margin-right: 10px;
}

.style2 {
    border:1px solid black;
    width:50px;
    height:50px;
    display:inline-block;
    background-color:#c0c0c0;
    margin-right: 10px;
}

.style3 {
    border:1px solid black;
    width:50px;
    height:50px;
    display:inline-block;
    background-color: #d3af37;
    margin-right: 10px;
}

fieldset.fieldset3 {
    margin-left: 25px;
    margin-top: -490px;
    margin-bottom: 100px;
    
}

form fieldset {
    margin: 2rem 0;
    border: 3px solid #000099;
    padding: .5rem 2%;
    max-width: 500px;
    margin-left: 130px;
    font-family: 'raleway', sans-serif;
    margin-bottom: 100px;
}

form legend {
    color: #000099;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-family: 'raleway', sans-serif;
    font-size: 22px;
    font-weight: 600;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-family: 'raleway', sans-serif;
    font-size: 1rem;
}

form label.top input, form label.top select {
    -webkit-appearance:none;
    display: block;
    font-family: 'raleway', sans-serif;
    font-size: 1.1rem;
    border: solid 1.5px #000099;
    padding-top: .75rem;
    color: rgb(14, 2, 2);
    width: 100%;
    height: auto;
    max-width: 40rem;
    background-color: rgba(38, 90, 121, 0.1);
    font-family: 'Raleway', sans-serif;
}

form label.sbs {
    display: block;
    margin-top: 10px;
    padding: .50rem 0;
    color: #555;
}

input[type="radio"] {
    margin-right: 5px;
  }

input[type="checkbox"] {
    margin-right: 5px;
  }


input.submitBtn {
    display: block;
    border: none;
    background-color: #000099;
    color: white;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    max-width: 20rem;
    margin-left: 50px;
    font-weight: bold;
    font-family: 'raleway', sans-serif;
    font-size: 1.2rem;    
    margin-top: -70px;
    margin-bottom: 50px;
}

form label.top input:required {
    border-left: rgb(121, 3, 3) solid 6px;
}

form label.top input:required:valid {
    border-left: rgb(1, 90, 1) solid 6px;
}

.addinfo {
    max-height: 300px;
    width: 275px;
    height: auto;
}

.space {
    margin-top: 1.5rem;
}

.thankyou {
    font-family: 'raleway', sans-serif;
    margin-left: 300px;

}

.conditions {
    font-family: 'raleway', sans-serif;
    margin-left: 300px;
}





/*----------- FOOTER --------------*/
footer {
    font-family: 'raleway';
    font-size: .7rem;
    background-color: #0f025a;
    padding: .5rem;
    text-align: center;
    color: white;
    text-align: center;
}

.social {
    display: flex;
    flex-direction: row;
    margin-left: 0;
 
}

img.facebook {
    width: 30px; 
    height: auto;
   

}

img.instagram {
    width: 30px;
    height: auto;
  
    
}

img.linkedin {
    width: 30px;
    height: auto;
    
    
}

.png {
    color: white;
}




/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
