/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, nav, footer {
        margin: auto;
    }

/*----------- BODY --------------*/



/*----------- HEADER --------------*/
header img {
    float: left;  
    margin-left: 19%;
    width: 100px;
    height: auto;
}

header h1 {
    font-family: 'Merriweather', sans-serif;
    margin-top: 40px;
    font-weight: 700; 
    font-size: 2rem;

}
header h2 {
    font-family: 'Merriweather', sans-serif;
    font-weight: normal; 
    font-size: 1.2rem;

}

/*----------- NAVIGATION --------------*/
nav button {display: none !important;}

nav ul {
    align-content: center;
    margin-left: 21%;
}

nav ul li a {
    padding: .5rem 2.8rem;
}

/*----------- MAIN --------------*/



.herodiv {
    margin: 10px auto;
    position: relative;}


.image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;
    height: auto;
    margin: 10px auto;
    margin-left: 20%;
}


.large {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    margin: 10px auto;
    
}

.stats {
	position: absolute;
    width: 16rem;
    font-family: 'Merriweather', sans-serif;
	top: 38px;
	left:3%;
    background-color: #64899B;
	background: radial-gradient(rgb(250, 248, 248), #60889c);
	border: 1px solid #000;
	padding: 1.5rem;
	box-shadow: 0 0 30px #111;
	opacity: .7;
}

.gallery {
    max-width: 64rem;
}

.gallerygrid{
    grid-template-columns: 1fr 1fr 1fr;
   
}

.gallerygrid figure:hover {
    box-shadow: 0 0 40px #899B64;
}




/*----------- INDEX --------------*/

#cards img {
    width:250px;
    width: 250px;
  
    
}

#cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;  
    width: 61%;
    margin-left: 20%;
    
}

#cards div {
    display: block;
    width: 21em;
    padding-top: 15px;
    margin-bottom: 5px;

          
}

.herodiv2 {
    margin: 10px auto;
    position: relative;
}


.images3 {
    width: 60%;
    height: auto;
    margin: 25px auto;
    margin-left: 20%;
   
}




/*----------- FOOTER --------------*/
footer {
    font-size: 1rem;} 


}
/* end of media query */