
header {
    text-align: center;
  
}

main div {
    align-items: center;
    justify-content: center;
    

}

main {
    padding: 20px 160px 20px 160px;
    margin: 0 auto;
    background-color: rgb(202, 199, 199);
    box-shadow: 0 0 30px rgb(83, 40, 46);
    

}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    text-align: center;
    margin: 0 auto;
}

h1 {
    color: rgb(22, 22, 19);
    font-weight: 900;
    font-family: 'Merriweather', serif;
    
}

h2 {
    margin-top: 35px;
    font-size: 1.5em;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    color: white;
    margin-bottom: 10px;
    
    
}

.info {
   color: white;
   font-size: 14px;
   font-weight: 300;
   font-family: 'Merriweather Sans', sans-serif;
   line-height: .75em;
   
}


section {
    background: rgb(83, 40, 46);
    border: solid #250902;
    border-color: black;
    width: 300px;
    height: 450px;
    outline-offset: 10px;
    
}

img {
    max-width: 75%;
    box-shadow: 0 0 20px rgb(5, 5, 5);
    margin-top: 5px;
    
}

footer {
    background: rgb(83, 40, 46);
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 30px;
}

@media only screen and (min-width: 32.5rem) {

    main {
        max-width: 30rem;
    }

    .cards {
        grid-template-columns: 1fr 1fr;
       
    }

}

@media only screen and (min-width: 64rem) {

    main {
        max-width: 60rem;
    }

    .cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
       
    }

}
