/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, nav, footer {
        margin: auto;
    }

/*----------- BODY --------------*/



/*----------- HEADER --------------*/
header img {
    float: left;  
    margin-left: 10%;
    width: 100px;
    height: auto;
}

header h1 {
    font-family: 'Merriweather', sans-serif;
    margin-top: 40px;
    font-weight: 700; 
    font-size: 2rem;

}
header h2 {
    font-family: 'Merriweather', sans-serif;
    font-weight: normal; 
    font-size: 1.2rem;

}

/*----------- NAVIGATION --------------*/
nav button {display: none !important;}

nav ul {
    align-content: center;
    margin-left: 12.5%;
}

nav ul li a {
    padding: .5rem 2.7rem;
}

/*----------- MAIN --------------*/

main h1 {
    margin-top: 20px;
}

section.stats {
    width: 30rem;
    top: -35px;
    left: 350px;
    padding: 1rem;
    margin: 6px auto;
    margin-top: 75px;
    
}

.stats h3 {
    border-bottom: 2px solid #023047;
    grid-column: 1/3;
    margin: 5px auto;
    text-align: left;

}

.herodiv {
    margin: 10px auto;
    position: relative;}


.image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;
    height: auto;
    margin: 10px auto;
    margin-left: 20%;
}

img.image {
    margin-left: 140px;
}


.large {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    margin: 10px auto;
    
}

section.stats {
	top: -30px;
	left: 10%;
    margin-left: 20px;
    margin-top: 75px;
}




main.gallery {
    margin-left: 175px;
   
}

.gallerygrid{
    grid-template-columns: 1fr 1fr 1fr;
    
}

.gallerygrid figure:hover {
    box-shadow: 0 0 40px #899B64;
}

figure.color {
    margin: 25px;
}

h1.gallerytitle {
    margin-left: 360px;
    margin-top: 30px;
    margin-bottom: 5px;
}

.gallerygrid img {
    width: 280px;
}
/*----------- FIVE DAY FORCAST --------------*/


.forecasts {
    grid-template-columns: 140px 140px 140px 140px 140px;

}




/*----------- TOWN CARDS --------------*/

#cards img {
    width:235px;
    margin-top: 10px;
  
    
}

#cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;  
    width: 61%;
    margin-left: 19.5%;
    
    
}

#cards div {
    display: block;
    width: 20em;
    padding-top: 15px;
    margin-bottom: 5px;
    margin: 5px;

          
}

.herodiv2 {
    margin: 10px auto;
    position: relative;
}


.images3 {
    width: 78%;
    height: auto;
    margin-left: 11%;
   
}

.image2 {
    margin-top: -50px;
}



img.map {
    float: right;
    margin-right: 3%;
    width: 400px;
    height: auto;
    margin-top: -160px;
   
}

/*----------- Form  --------------*/


form fieldset {
    max-width: 500px;
    margin-left: 350px;

}

.conditions {
    margin-top: 20px;
    margin-left: 380px;
    font-size: 20px;
}

label.top {
    max-width: 450px;
}

textarea.addinfo {
    max-width: 450px;
}

form input.submitBtn {
    margin-left: 470px;
    

}


.container2 {
    margin: 25px auto;
    position: relative;
    width: 975px;
    height: 340px;
    background-color: #64899B;
    border: 2px solid black;
}

.contactus {
    font-family: 'Merriweather', sans-serif;
    margin-left: 20px;
    margin-top: 20px;

}

.contactcont {
    font-family: 'Merriweather', sans-serif;
    position: absolute;
    top: 50px;
    left: 50px;
    text-align: left;
    
}

.container1 {
    margin: 30px auto;
    position: relative;
    width: 975px;
    height: 350px;
    background-color: #A1AF83;
    border: 2px solid black;
}

/*----------- ARTICLE --------------*/

.article {
    margin-left: 20px;
    margin-top: -140px;
}

.articletext {
    font-family: 'Merriweather', sans-serif;
    font-size: 1em;
    float: left; 
    width: 530px;
    margin-top: -15px;
    margin-left: 2%;
}

.articleimage {
    float: right;
    margin-right: 2%;
    width: 400px;
    height: auto;
    margin-top: -20px;
}


.image2 {
    float: left;
    margin-left: 27%;
    width: 310px;
    height: auto;
    margin-top: -50px;
   
}


/*----------- FOOTER --------------*/
footer {
    font-size: 1rem;} 


}
/* end of media query */