/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, nav, footer {
        margin: auto;
    }

/*----------- BODY --------------*/



/*----------- HEADER --------------*/
header img {
    float: left;  
    margin-left: 10%;
    width: 100px;
    height: auto;
}

header h1 {
    font-family: 'Merriweather', sans-serif;
    margin-top: 40px;
    font-weight: 700; 
    font-size: 2rem;

}
header h2 {
    font-family: 'Merriweather', sans-serif;
    font-weight: normal; 
    font-size: 1.2rem;

}

/*----------- NAVIGATION --------------*/
nav button {display: none !important;}

nav ul {
    align-content: center;
    margin-left: 12.5%;
}

nav ul li a {
    padding: .5rem 2.7rem;
}

/*----------- MAIN --------------*/

.herodiv {
    margin: 10px auto;
    position: relative;}


.image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;
    height: auto;
    margin: 10px auto;
    margin-left: 20%;
}


.large {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    margin: 10px auto;
    
}

section.stats {
	top: -30px;
	left: 10%;
}


.gallery {
    max-width: 64rem;
}

.gallerygrid{
    grid-template-columns: 1fr 1fr 1fr;
   
}

.gallerygrid figure:hover {
    box-shadow: 0 0 40px #899B64;
}




/*----------- TOWN CARDS --------------*/

#cards img {
    width:235px;
    margin-top: 10px;
  
    
}

#cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;  
    width: 61%;
    margin-left: 19.5%;
    
    
}

#cards div {
    display: block;
    width: 20em;
    padding-top: 15px;
    margin-bottom: 5px;
    margin: 5px;

          
}

.herodiv2 {
    margin: 10px auto;
    position: relative;
    margin-top: 0;
}


.images3 {
    width: 60%;
    height: auto;
    margin: 25px auto;
    margin-left: 20%;
   
}

.image2 {
    margin-top: -50px;
}
img.map {
    margin-top: -175px;
}

/*----------- Form  --------------*/


form fieldset {
    max-width: 500px;
    margin-left: 550px;

}

.conditions {
    margin-top: 20px;
    margin-left: 580px;
    font-size: 20px;
}

label.top {
    max-width: 450px;
}

textarea.addinfo {
    max-width: 450px;
}

form input.submitBtn {
    margin-left: 675px;
    

}





/*----------- FOOTER --------------*/
footer {
    font-size: 1rem;} 


}
/* end of media query */