@media only screen and (min-width: 32.5rem) {

  

        /*----------- HEADER --------------*/
        header img {
            float: left; 
            margin-left: 7%; 
            width: 175px; 
            height: auto;
        }
        
        header h1 {
            margin-top: 133px;
        }
        header h1 {font-size: 2.3rem;}
        header h2 {font-size: 1.3rem;}

        div#message{  
            font-size: 24px;
            padding: 20px;
        }
        
        /*----------- NAVIGATION --------------*/
        nav button {display: none;}

        nav ul.hide {display: block;}
        
        nav ul {margin-left: 10%}
        
        nav ul li {
            float: left;
        }

        nav ul li a {
            border: none;
            padding: .8rem .9rem;
        }
        
        /*----------- MAIN --------------*/
        
        /* update font size of headers to fit larger screen */
           /* .contentbox {
                width: 615px;
            } */

            

            main h1 {
                margin-left: 43%;
            }

            main h2 {
                margin-left: 1%;
            
            }

            .herodiv {
                width: 100%;
                position: relative;
                margin-top: 0;
            }

           
        
        
        /*----------- TABLE --------------*/
        .stats {
            width: 15rem;
            top: 10px;
            left: 20px;
            padding: 1.5rem;
            box-shadow: 0 0 30px #111;
            margin: 8px auto;
        }
        
        .stats h3 {
            border-bottom: 2px solid #023047;
            margin: 5px auto;
        }

  
       .container2 {
            margin: 25px auto;
            position: relative;
            width: 985px;
            height: 340px;
            background-color: #64899B;
            border: 4px solid #9B9164;
        }

        .contactus {
            font-family: 'Merriweather', sans-serif;
            margin-left: 20px;
            margin-top: 20px;

        }

        .contactcont {
            font-family: 'Merriweather', sans-serif;
            position: absolute;
	        top: 50px;
	        left: 50px;
            
        }

        .container1 {
            margin: 30px auto;
            position: relative;
            width: 985px;
            height: 350px;
            background-color: #A1AF83;
            border: 4px solid#9B9164;
        }

        .article {
            margin-left: 20px;
            margin-top: -140px;
        }

        .articletext {
            font-family: 'Merriweather', sans-serif;
            font-size: 1em;
            float: left; 
            width: 510px;
            margin-top: -15px;
            margin-left: 2%;
        }

        .articleimage {
            float: right;
            margin-right: 2%;
            width: 400px;
            height: auto;
            margin-top: -25px;
        }


        .image2 {
            float: left;
            margin-left: 27%;
            width: 310px;
            height: auto;
            margin-top: -10px;
           
        }

        .map {
            float: right;
            margin-right: 3%;
            width: 400px;
            height: auto;
            margin-top: -185px;
           
        }

        .gallerytitle {
            text-align: center;
            margin-left: 70px;
        }
        
        .gallery {
            max-width: 38rem;
            margin-left: 50px;
    
        }

        .gallerygrid {
            grid-template-columns: 1fr 1fr;
            
            
        }

    

        /*----------- HOME PAGE TOWNS --------------*/


        #cards div {
            margin-top: 20px;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        #cards div:nth-child(2) figure {
            grid-column: 2;
            grid-row: 1;
        }

        #cards div:nth-child(2) section {
            grid-column: 1;
        }
     
        #cards img{
            margin-top: 15px;
            margin-bottom: 10px;
        }

        #cards section {
            margin-top: 30px;   
            line-height : 17px;
        }

   

        /*----------- FIVE DAY FORECAST --------------*/

        .forecast h2{
            text-align: center;
        }

        .forecast {
            display: block;
            
        }

        .forecasts {
            grid-template-columns: 140px 140px 140px 140px 140px;

            display: grid;
            gap: 15px;
            justify-content: center;
            text-align: center;
    
        }

        .forecasts p {
            margin-top: 5px;
            margin-bottom: 5px;
        }


        #weatherforecast div {
            line-height: 2em;
            font-family: 'Merriweather', sans-serif;
            font-weight: 800;
            border: 2px solid #023047;
            text-align: center;
            background: radial-gradient(#eee, #b2d0df);
            
        }

        #weatherforecast img{
            margin-top: 5px;
            width: 70%;

        }

        form fieldset {
 
            max-width: 500px;
            margin-left: 110px;
        
        }

        .formtext {
            font-size: 16px;
            padding-bottom: 15px;
            font-weight: 800;
        }
        
        .conditions {
            margin-top: 20px;
            margin-left: 150px;
            font-size: 20px;
        }
        
        label.top {
            max-width: 450px;
        }
        
        textarea.addinfo {
            max-width: 450px;
        }
        
        form input.submitBtn {
            width: 96%;
            max-width: 15rem;
            margin-left: 245px;
            font-weight: bold;
            font-size: 1rem;    
        }

        footer {
            font-size: 1rem;
        }

        


    }
    
        /* end of media query */