/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- HEADER --------------*/
div#message{

    background-color: rgb(238, 111, 26);
    text-align: center;
    font-size: 12px;
    padding: 10px;
    font-weight: 800;
    font-family: 'Merriweather Sans', sans-serif;
    
}

div.showme {display: block;}
div.hideme {display: none;}


header {
    padding: .35rem 2%;
    background-color: #899B64;
}
header img {
    float: left; 
    margin-right: 10px; width: 90px;
}


header h1 {
    margin: 0; 
    margin-top: 4.2rem;
    font-size: 1.2rem;
}

header h2 {
    margin: 0; 
    font-weight: normal; 
    font-size: .9rem;
}

/*----------- NAVIGATION --------------*/

nav {
    background-color: #64899B;
    font-family: 'Merriweather Sans', sans-serif;
    margin-bottom: 0px;
}

nav button {
    flex-direction: row;
    align-self: flex-end;
    justify-self: flex-end;
    background-color: #64899B;;
    font-size: 1.6rem;
    color: #ffffff;
    border: none;
    padding: .3rem 3%;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}
  nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    background-color: #64899B;
    color: black;
    border-top:1px solid rgba(0,0,0,0.3);
    }

    nav ul li a:hover {
        background-color: #899B64;
        color: #010706;
    }
    nav ul li.active a {
        background-color:#9B9164;
        color: #010706;
        font-weight: 700;
    }

    nav ul.hide {display: none;}
    

/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 25rem;
}

main h1 {
    font-family: 'Merriweather', sans-serif;
    font-size: 1.8rem;
    margin-top: 1.8%;
    margin-bottom: .05%;
}

main h2 {
    font-family: 'Merriweather', sans-serif;
    margin-left: 1%;
    margin-bottom: 3%;
    margin-top: 1%;
}

main picture.herodiv {
    margin: 10px auto;
    position: relative;
}


figure {
    max-width: 230px;
    background: radial-gradient(rgb(250, 248, 248), #899B64);

}

figcaption {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Merriweather Sans', sans-serif;
    
  }

.gallerygrid img[data-src] {
    filter: blur(0.6em);
    background: #899B64;
}

.gallerygrid figure img {
    filter: blur(0em);
    transition: filter 0.5s;
}

.herodiv {
    margin: 10px auto;
    position: relative;
}


.image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    margin: 10px auto;
}


section.stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 30rem;
    top: -35px;
    left: 350px;
    background: radial-gradient(#eee, #4567aa);
    border: 1px solid #000;
    padding: 1rem;
    box-shadow: 0 0 30px #111;
    opacity: .8;
    margin: 6px auto;
    margin-top: 75px;
    
}

.stats h3 {
    border-bottom: 2px solid #023047;
    grid-column: 1/3;
    margin: 5px auto;
    text-align: left;

}

.grid1 {
    grid-column: 1/2;
    margin: 0;
    text-align: right;
    font-weight: 700;
    line-height: .9;
    
}

.grid2 {
    grid-column: 2/3;
    margin: 0;
    text-align: left;
    font-weight: 600;
    line-height: .9;
    padding-left: 5px;
}


.hero_img img {
    display: block;
    width: 100%;
}

.small {
    width: 100%;
}


.grid1 {
    grid-column: 1/2;
    margin: 0;
    text-align: right;
    font-weight: 700;
    line-height: .9;
}

.grid2 {
    grid-column: 2/3;
    margin: 0;
    text-align: left;
    font-weight: 600;
    line-height: .9;
    padding-left: 5px;
}

.forecast {
    display: none;
}

.article{
    padding-top: 160px;
}


.image2{
    width: 100%;
    margin-top: 0px;
}
.map {
    width: 100%;
}

.articleimage {
    width: 100%;
}





/*----------- LAYOUT FOR THE TOWN CARDS  --------------*/

#cards img{
    width:230px;
    margin-top: 10px;
    box-shadow: 0 0 30px rgb(83, 40, 46);
    border-radius: 3%;

}


#cards div {
    color: #0D153B;
    font-family: 'Merriweather', sans-serif;
    display: block;
    border: #421601 solid 5px;
    background-color: #be7f09; 
    margin-bottom: 20px;
}

#cards {
    text-align: center;  
    
}

.herodiv2 {
    margin: 10px auto;
    position: relative;
}


.images3 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    margin-top: 0px;
}

/*----------- FIVE DAY FORECAST --------------*/


  


/*----------- FOOTER --------------*/
footer {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: .7rem;
    background-color: #899B64;
    padding: .5rem 2%;
    text-align: center;
    color: #010706;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}