/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- HEADER --------------*/
div#message{

    background-color: rgb(238, 111, 26);
    text-align: center;
    font-size: 12px;
    padding: 10px;
    font-weight: 800;
    font-family: 'Merriweather Sans', sans-serif;
    
}

div.showme {display: block;}
div.hideme {display: none;}


header {
    padding: .35rem 2%;
    background-color: #899B64;
}
header img {
    float: left; 
    margin-right: 3px; 
    width: 90px;
    height: auto;
}


header h1 {
    margin: 0; 
    margin-top: 4.2rem;
    font-size: 1.3rem;
}

header h2 {
    margin: 0; 
    font-weight: normal; 
    font-size: 1rem;
}

/*----------- NAVIGATION --------------*/

nav {
    background-color: #64899B;
    font-family: 'Merriweather Sans', sans-serif;
    margin-bottom: 0px;
}

nav button {
    flex-direction: row;
    align-self: flex-end;
    justify-self: flex-end;
    background-color: #64899B;;
    font-size: 1.6rem;
    color: #ffffff;
    border: none;
    padding: .3rem 3%;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}
  nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    background-color: #64899B;
    color: black;
    border-top:1px solid rgba(0,0,0,0.3);
    }

    nav ul li a:hover {
        background-color: #899B64;
        color: #010706;
    }
    nav ul li.active a {
        background-color:#9B9164;
        color: #010706;
        font-weight: 700;
    }

    nav ul.hide {display: none;}
    

/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 25rem;
}

main h1 {
    font-family: 'Merriweather', sans-serif;
    font-size: 1.8rem;
    margin-top: 10%;
    margin-bottom: .05%;
}

main h2 {
    font-family: 'Merriweather', sans-serif;
    margin-left: 1%;
    margin-bottom: 3%;
    margin-top: 1%;
}

main picture.herodiv {
    margin: 10px auto;
    position: relative;
    
}

.image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    margin: 10px auto;
    margin-top: 0;
}


/*----------- GALLERY --------------*/


figure.color {
    max-width: 370px;
    background: radial-gradient(rgb(250, 248, 248), #899B64);

}

figcaption {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -55px;
    font-family: 'Merriweather Sans', sans-serif;
    
  }

h1.gallerytitle {
    margin-top: 30px;
    margin-bottom: -5px;
    font-family: 'Merriweather', sans-serif;
    font-size: 30px;
    margin-left: 10px;
}

.gallery {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.gallerygrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    text-align: center;
    margin-left: -45px;
    margin-bottom: 30px;
    
}

.gallerygrid img[data-src] {
    filter: blur(0.6em);
    background: #899B64;
}

.gallerygrid figure img {
    filter: blur(0em);
    transition: filter 0.5s;
}

.gallerygrid img {
    width: 370px;
    height: auto;
   
}

/*----------- HERODIV  --------------*/

.herodiv {
    margin: 10px auto;
    position: relative;
}

section.stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Merriweather', sans-serif;
    width: 22rem;
    top: -35px;
    left: 150px;
    background: radial-gradient(#eee, #4567aa);
    border: 1px solid #000;
    padding: 1rem;
    box-shadow: 0 0 30px #111;
    opacity: .8;
    margin: 6px auto;
    margin-top: 5px;
    
}

section.stats {
    font-size: 10px;
    position: absolute;
    top: 70px;
    left: 10%;
    padding: 1.5rem;
    margin-left: -20px;
    margin-top: 150px;
    width: 18rem;
}

.stats h3 {
    border-bottom: 2px solid #023047;
    grid-column: 1/3;
    margin: 5px auto;
    text-align: left;
    

}

.grid1 {
    grid-column: 1/2;
    margin: 0;
    text-align: right;
    font-weight: 700;
    line-height: .9;
    
}

.grid2 {
    grid-column: 2/3;
    margin: 0;
    text-align: left;
    font-weight: 600;
    line-height: .9;
    padding-left: 5px;
}


.hero_img img {
    display: block;
    width: 100%;
    height: auto;
}

.small {
    width: 100%;
}

.forecast {
    display: none;
}


/*----------- ARTICLE  --------------*/

.article4{
    margin-left: 8px;

}

.container1 {
    margin-top: 20px;
    height: 680px

}

p.author {
    font-size: 12px;
    margin-left: 4px;
}

p.author2 {
    margin-left: 350px;
    font-size: 14px;
    font-style: italic;
}

p.author4 {
    margin-left: 20px;
    margin-top: 5px;
    font-size: 14px;
    font-style: italic;
}


.articleimage {
    width: 100%;
    height: auto;
}


.articleimage2 {
    width: 100%;
    height: auto;
}

.articleimage3 {
    width: 100%;
    height: auto;
}

.articleimage4 {
    width: 100%;
    height: auto;
}


.articletext4 {
    width: 300px;
    margin-top: -10px;
    margin-left: 2%;

}

/*----------- CONTACT INFO  --------------*/

.image2{
    width: 100%;
    height: auto;
}

.map {
    width: 100%;
    height: auto;
    margin-top: 20px;
}


.contactus {
    margin-top: 270px;
    font-family: 'Merriweather', sans-serif;
    text-align: center;

}

.contactus2 {
    margin-top: 190px;
    font-family: 'Merriweather', sans-serif;
    text-align: center;

}

.contactus3 {
    margin-top: 160px;
    font-family: 'Merriweather', sans-serif;
    text-align: center;

}

.contactus4 {
    margin-top: 40px;
    font-family: 'Merriweather', sans-serif;
    text-align: center;

}

.contactcont {
    font-family: 'Merriweather', sans-serif;
    text-align: center;
    
}

.container2 {
    margin: 25px auto;
    position: relative;
    margin-top: -130px;
}


/*----------- UPCOMING EVENTS  --------------*/

.eventbox {
    font-family: 'Merriweather', sans-serif;
    border-bottom: 2px solid #023047;
    margin-top: 200px;
    text-align: center;
    background: radial-gradient(#eee,  #9B9164);
    padding: 1rem;
    box-shadow: 0 0 30px #111;
    opacity: .8;
    max-width: 400px;
    padding: 30px;
    border: solid #a3944e 10px;
}

.eventbox h2 {
    border-bottom: 2px solid #a3944e;

}

/*----------- LAYOUT FOR THE TOWN CARDS  --------------*/

#cards img{
    width:230px;
    margin-top: 10px;
    box-shadow: 0 0 30px rgb(83, 40, 46);
    border-radius: 3%;

}


#cards div {
    color: #0D153B;
    font-family: 'Merriweather', sans-serif;
    display: block;
    border: #64899B solid 5px;
    background-color: #9B9164; 
    margin-bottom: 20px;
    
}

#cards {
    text-align: center;  
    
}

#cards section h3 {
    font-size: 22px;
    line-height: 22px;
}

#cards section h2 {
    font-size: 26px;
    line-height: 22px;
}



.herodiv2 {
    margin: 0;
    position: relative;
}


.images3 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    margin-top: 0px;
}


/*----------- LAYOUT FOR FORM  --------------*/

.formsize {
    padding: 0 2%;
    min-height: 10rem;
}

.conditions {
    margin-top: 20px;
    margin-left: 25px;
    font-size: 20px;
}

form fieldset {
    margin: 2rem 0;
    border: 2px solid #64899B;
    border-radius: 10px;
    padding: .5rem 2%;
    max-width: 500px;
    margin-left: 10px;
    font-family: 'Merriweather Sans', sans-serif;
    background: radial-gradient(rgb(250, 248, 248), #899B64);
}

form legend {
    color: black;
    margin: 0 1rem;
    padding: 0 .5rem;
    max-width: 300px;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #022e44;
    
    
}

form label.top input, form label.top select {
    -webkit-appearance:none;
    display: block;
    font-size: 1.1rem;
    border: solid 1px #899B64;
    border-radius: 5px;
    padding-top: .75rem;
    color: rgb(14, 2, 2);
    width: 100%;
    max-width: 40rem;
    background-color: rgba(38, 90, 121, 0.1);
    font-family: 'Merriweather Sans', sans-serif;
    background: radial-gradient(rgb(250, 248, 248), #cfd3c8);
}

label.top {
    max-width: 300px;
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}

input[type="radio"] {
    margin-right: 5px;
  }

input[type="checkbox"] {
    margin-right: 5px;
  }


form input.submitBtn {
    border: none;
    background-color: #899B64;
    color: white;
    border-radius: .75rem;
    padding: .50rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 15rem;
    margin-left: 30px;
    font-weight: bold;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1rem;    
}

form label.top input:required {
    border-left: rgb(121, 3, 3) solid 6px;
}

form label.top input:required:valid {
    border-left: rgb(1, 90, 1) solid 6px;
}

.addinfo {
    max-height: 300px;
    max-width: 280px;
    background: radial-gradient(rgb(250, 248, 248), #cfd3c8);
}

.slide {
    display: flex;
    padding-top: 1.5rem;
    
}

#wearatings {
    padding-left: .5rem;
    font-weight: 700;
}

#wearating {
    min-width: 8rem;
    width: calc(50vw - 1.25rem);
    max-width: 11.25rem;
}

.space {
    margin-top: 1.5rem;
}

.thankyou {
    font-family: 'Merriweather Sans', sans-serif;
    margin-left: 300px;

}



/*----------- FOOTER --------------*/
footer {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: .7rem;
    background-color: #899B64;
    padding: .5rem 2%;
    text-align: center;
    color: #010706;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}