/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


        /*----------- HEADER --------------*/
        header img {float: left; margin-right: .5px; width: 175px;
        }
        
        header h1 {
            margin-top: 133px;
        }
        header h1 {font-size: 2.3rem;}
        header h2 {font-size: 1.3rem;}
        
        /*----------- NAVIGATION --------------*/
        nav ul {margin-left: 1rem; display: flex;}
        nav ul li { flex: 1 1 100%;}
        nav ul li a {
            padding: .5rem 1rem;
            font-size: 1.0rem;
            }
        
        /*----------- MAIN --------------*/
        
        /* update font size of headers to fit larger screen */
        main h1 {font-size: 2rem;}
        main p {font-size: 1rem;}
        
        
        /*----------- TABLE --------------*/
        th, td {
            font-size: 1.0rem;
        }
        footer {
        
            font-size: 1rem;
         
        }
    
        } /* end of media query */