/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/



/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: #899B64;
}
header img {float: left; margin-right: .5px; width: 75px;}
header h1 {
    font-family: 'Merriweather', sans-serif;
    font-weight: 700; 
    font-size: 2.3rem;
    margin-top: 133px;
    margin-bottom: 4px;
    margin-left: 70px;
}
header h2 {
    font-family: 'Merriweather', sans-serif;
    font-weight: normal; font-size: 1.3rem;
    margin-top: 4px;
    margin-bottom: 5px;
    margin-left: 70px;
}

/*----------- NAVIGATION --------------*/
nav {
    background-color: #6E9B64;
    font-family: 'Merriweather Sans', sans-serif;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: #eee;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}


nav ul li a:hover {
    background-color: #AFA783;
    color: #010706;
}
nav ul li.active a {
    background-color:#9B9164;
    color: #010706;
    font-weight: 550;
}
/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 30rem;
}

main img {
    float: left; width: 100px;
 
}

main h1 {
    font-family: 'Merriweather', sans-serif;
    font-size: 1.8rem;
}

main h2 {
    font-family: 'Merriweather', sans-serif;
    font-size: 1.8rem;
}

main p {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1rem;
}

main ul {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1rem;
}

/*----------- COLOR-SCHEME --------------*/
table {
    background-color:#AFA783;
    padding: 2rem;
    margin-bottom: 40px;
    border-style: solid; grey 5px 5px 5px;
    font-family: sans-serif;
}

td {
    font-family: 'Merriweather Sans', sans-serif;
    padding: 0.5rem;
    font-size: 1.5rem; 
}

th {
    font-family: 'Merriweather', sans-serif;
    font-size: 1.5rem;
    padding-right: 1.5rem;
}

tr td:nth-child(1) {
    padding-right: 1.5rem;
}

td.head-color {background-color:#899B64;}

td.nav-color {background-color:#6E9B64;}

td.hover-color {background-color:#AFA783;}

td.active-color {background-color: #9B9164;}

td.back-color {background-color: #FFFFFF;}

td.footer-color {background-color: #899B64;}


/*----------- FOOTER --------------*/
footer {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #899B64;
    padding: .5rem 2%;
    text-align: center;
    color: #010706;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}